{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Règles additionnelles{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero extra-rules is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Règles additionnelles</h4>
        <h6 class="subtitle is-6">
            <i>
                Ajout de règles spécifiques.
            </i>
        </h6>

        <button class="accordion">
            <h4 class="title is-4">Compétences cachées</h4>
            <h6 class="subtitle is-6">
                <i>
                    Les compétences cachées sont des dons ou des capacités donnés aux joueurs à la discrétion du MJ.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            <table class="table is-striped is-fullwidth is-narrow is-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                {% for item in hidden_skills %}
                    <tr>
                        <td class="has-text-danger-dark has-text-centered" colspan="2"><b>{{ item['name'] }}</b></td>
                    </tr>
                    <tr>
                        <td class="has-text-centered" colspan="2"><b>{{ item['description'] }}</b></td>
                    </tr>
                    {% for skill in item['skills'] %}
                        <tr>
                            <td class="is-vcentered">{{ skill['name'] }}</td>
                            <td class="is-vcentered">{{ skill['description'] }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}