<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <i class="fas fa-dice fa-2x has-text-danger-dark"></i>
            </div>
            <div class="media-content">
                <p class="title is-5"> {{ game['name'] }} </p>
            </div>
        </div>

        <div class="content">
            <div class="content has-text-justified">
                {{ game['rules']|raw }}

                <h5 class="title is-5">Variantes :</h5>
                <p>{{ game['variants']|join('<br/>')|raw }}</p>

                <h5 class="title is-5">Règles supplémentaires :</h5>
                {{ game['add-on']|raw }}
            </div>
        </div>
    </div>
</div>
