<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                {{ icon|raw }}
            </div>
            <div class="media-content">
                <p class="title is-5 has-text-danger-dark"> {{ title }} </p>
                <p class="subtitle is-6 has-text-weight-bold">- {{ price }} -</p>
            </div>
        </div>

        <div class="content">
            <p>
                {% for dish, ingredient in meal%}
                    {% if ingredient != 'rien' %}
                        {{ dish }} {{ ingredient|raw }}
                    {% endif %}
                {% endfor %}
            </p>

            <p>
                {{ effect }}
            </p>
        </div>
    </div>
</div>
