{% extends 'base.html.twig' %}

{% block title %} - Auberge{% endblock %}

{% block banner %}
    <section class="hero tavern is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                {{ include('_refresh.html.twig', {pathname: 'tavern'}) }}

                <h4 class="title is-4">Éléments au hasard</h4>
                <h6 class="subtitle is-6"><i>Chaque élément peut-être utilisé distinctement l'un de l'autre.</i></h6>
                <div class="columns is-multiline has-text-centered">
                    <div class="column box is-left-bordered">
                        <div class="columns">
                            <div class="column is-half">
                                <i class="fas fa-couch fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Confort</h6>
                                <h5 class="title is-5"><b>{{ random_comfort }}</b></h5>
                                <p>
                                    Voir les <a class="has-text-danger-dark link-animation"
                                                href="{{ path('dm_screen') }}"
                                                target="_blank">trains de vie</a>.
                                </p>
                            </div>

                            <div class="column is-half">
                                <i class="fas fa-list-ol fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Chambres disponibles</h6>
                                Aujourd'hui il y a <h5 class="title is-5">{{ random_rooms }} </h5> chambre(s) disponible(s)
                            </div>
                        </div>
                    </div>

                    <div class="column is-full mt-2 box is-left-bordered">
                        <i class="fas fa-theater-masks fa-2x has-text-danger-dark"></i>
                        <h6 class="title is-6">Ambiance</h6>
                        <div class="content">
                            <p>{{ random_ambiance }}</p>
                        </div>
                    </div>

                    <div class="column is-full mt-2 box is-left-bordered">
                        <i class="fas fa-comments fa-2x has-text-danger-dark"></i>
                        <h6 class="title is-6">Information entendue</h6>
                        <div class="content">
                            <p>{{ random_info }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <h4 class="title is-4">Menus du jour</h4>
                <h6 class="subtitle is-6">
                    <i>Chaque menu n'est pas proposé par l'auberge, il dépend surtout du niveau de confort de celle-ci.</i>
                </h6>
                <div class="columns is-multiline">
                    <div class="column is-one-third is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_miserable_meal,
                                icon: '<i class="fas fa-bone fa-2x has-text-danger-dark"></i>',
                                title: 'Repas misérable',
                                price: '3 PC',
                                effect: 'On  a  faim  après l\'avoir mangé  et  il  rend  malade  sur  le  long terme.'
                            })
                        }}
                    </div>
                    <div class="column is-one-third is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_poor_meal,
                                icon: '<i class="fas fa-egg fa-2x has-text-danger-dark"></i>',
                                title: 'Repas pauvre',
                                price: '6 PC',
                                effect: 'Accompagné d’eau ou de vin coupé à l\'eau. Les ingrédients peuvent ne pas
                        être frais et le pain peut être rassis.'
                            })
                        }}
                    </div>
                    <div class="column is-one-third is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_modest_meal,
                                icon: '<i class="fas fa-cheese fa-2x has-text-danger-dark"></i>',
                                title: 'Repas modeste',
                                price: '3 PA',
                                effect: 'Accompagné de vin coupé à l\'eau ou de bière.'
                            })
                        }}
                    </div>

                    <div class="column is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_comfortable_meal,
                                icon: '<i class="fas fa-utensils fa-2x has-text-danger-dark"></i>',
                                title: 'Repas confortable',
                                price: '5 PA',
                                effect: 'Accompagné de pain, de fromage et de beurre, ainsi que de vin ou de bière.'
                            })
                        }}
                    </div>
                    <div class="column is-one-third is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_rich_meal,
                                icon: '<i class="fas fa-bacon fa-2x has-text-danger-dark"></i>',
                                title: 'Repas riche',
                                price: '8 PA',
                                effect: 'Accompagné de pain, de fromage et de beurre, ainsi que d’un bon vin ou d’une
                        bonne bière.'
                            })
                        }}
                    </div>
                    <div class="column is-one-third is-flex">
                        {{ include(
                            'tavern/_meal.html.twig',
                            {
                                meal: random_aristocratic_meal,
                                icon: '<i class="fas fa-drumstick-bite fa-2x has-text-danger-dark"></i>',
                                title: 'Repas aristocratique',
                                price: '2 PO',
                                effect: 'Les ingrédients et les boissons sont également de meilleure qualité,
                        et les assaisonnements et les présentations plus élaborés.'
                            })
                        }}
                    </div>
                </div>

                <hr/>

                <h4 class="title is-4">Jeu</h4>
                <h6 class="subtitle is-6">
                    <i>Et pourquoi pas jouer tranquillement un soir, plutôt que de s'enfermer dans un donjon ?</i>
                </h6>
                {{ include('tavern/_game.html.twig', {game: random_game}) }}
            </div>
        </div>
    </section>
{% endblock %}
