{% extends 'base.html.twig' %}

{% block title %}J'ai trouvé un bug !{% endblock %}

{% block body %}
    <section class="section is-medium">
        <div class="columns is-centered">
            <div class="column is-one-third">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
