{% if place['rulerGender'] == 'Homme' %}
    {% set ruler = 'Père' %}
{% else %}
    {% set ruler = 'Mère' %}
{% endif %}
<div class="card">
    <div class="card-image">
        <figure class="image is-2by1">
            <img src="{{ asset('build/images/Generator/Temple_Mystra.jpg') }}" alt="temple">
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4"><i>{{ place['religious'] }}</i></p>
                <p class="subtitle is-6">Établissement religieux</p>
            </div>
        </div>

        <div class="content">
            <p>
                Cet établissement est administré par {{ ruler}} <i>{{ place['rulerName'] }}</i>
                - {{ place['rulerRace'] }} ({{ place['rulerGender'] }}) - ainsi que {{ place['acolytes'] }}
                acolyte{% if place['acolytes'] > 1 %}s{% endif %}.
                Il semble être {{ femalize(place['condition'], false)}} et est gardé par {{ place['guards'] }}
                garde{% if place['guards'] > 1 %}s{% endif %}.
                <br/>
                La particularité de ce lieu, c'est qu'on y trouve {{ place['encounter'] }}.
            </p>

            {% if place['gods'] is not empty %}
                {{ include('transverse/_gods.html.twig', {gods: place['gods']}) }}
            {% else %}
                <p>Aucune divinité adorée particulièrement.</p>
            {% endif %}
        </div>
    </div>
</div>
