<div class="card">
    <div class="card-image">
        <figure class="image is-2by1">
            <img src="{{ asset('build/images/Generator/House.webp') }}" alt="house">
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">
                    Chez <i>{{ place['rulerName'] }}</i> - {{ place['rulerRace'] }} ({{ place['rulerGender'] }})
                </p>
                <p class="subtitle is-6">Résidence</p>
            </div>
        </div>

        <div class="content">
            <p>
                Cette résidence est {{ place['residence'] }} habitée par {{ place['habitants'] }} personnes.
                <br/>
                C'est {{ place['architecture'] }} qui se situe dans {{ place['district'] }}.
                <br/>
                L'endroit semble être {{ femalize(place['condition'], false) }} et est gardé par {{ place['guards'] }}
                garde{% if place['guards'] > 1 %}s{% endif %}.
            </p>
        </div>
    </div>
</div>
