{% set type = settlement['type'] %}
{% set name = settlement['name'] %}
{% set features = settlement['features'] %}
{% set nbWarehouses = settlement['warehouses']|length %}
{% set protections = settlement['protections'] %}
{% set nbReligious = settlement['temples']|length %}
{% if settlement['rulerGender'] == 'Homme' %}
    {% set article, pronoun1, pronoun2 = 'un', 'il', 'lui' %}
{% else %}
    {% set article, pronoun1, pronoun2 = 'une', 'elle', 'elle' %}
{% endif %}

<div class="box">
    <h1 class="title"><i>{{ name }}</i></h1>
    <h2 class="subtitle">{{ type }}</h2>
    <article class="media">
        <div class="media-left">
            <i class="fas fa-city fa-2x has-text-danger-dark"></i>
        </div>
        <div class="media-content">
            <div class="content has-text-justified">
                <p>
                    S'il y a bien une raison d'y venir c'est pour {{ settlement['knownFor'] }} ! C'est connu dans toute
                    la région. Presque chaque année, on peut y retrouver {{ settlement['events']|length }} évènement(s):
                </p>
                {{ include('transverse/_list.html.twig', {list: settlement['events']}) }}
                <p>
                    Mais ce n'est pas tout, il y a aussi
                    {% if features is not iterable %}
                        {{ features }}.
                    {% else %}
                        d'autres particularités à découvrir :
                    {% endif %}
                </p>
                {% if features is iterable %}
                    {{ include('transverse/_list.html.twig', {list: features}) }}
                {% endif %}
                <p>
                    Malheureusement, actuellement, {{ settlement['calamity'] }} empêche <i>{{ name }}</i> d'avoir des
                    jours tranquilles. Peut-être qu'une solution peut-être trouvée ?
                </p>

                <h6><i class="fas fa-users"></i>&nbsp;Population</h6>
                <p>
                    <i>{{ name }}</i> est un {{ type|lower }} de {{ settlement['population'] }} habitants - au dernier
                    recensement - et d'environ {{ settlement['houses'] }} maisons et autres bâtiments. Comme partout,
                    l'endroit fait preuve d'une mixité raciale. On y trouve {{ settlement['relations'] }}.
                </p>
                <button class="accordion">Répartition des races</button>
                <div class="accordion-panel content">
                    <ul>
                        {% for race, nb in settlement['races'] %}
                            <li>{{ nb }} en tant que {{ race }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if settlement['hero'] is defined %}
                    <p>
                        De plus, un héro local a fait son nom à <i>{{ name }}</i> : <b>{{ settlement['hero'] }}</b> -
                        {{ settlement['heroRace'] }} ({{ settlement['heroGender'] }}). C'est un
                        {{ settlement['heroClass']|lower }}, plus particulièrement {{ settlement['heroAdventure'] }}, et
                        {{ settlement['heroStatus']|lower }}.
                    </p>
                {% endif %}

                <h6><i class="fas fa-gavel"></i>&nbsp;Gouvernement</h6>
                <p>
                    Actuellement, <b>{{ settlement['ruler'] }}</b> - {{ settlement['rulerRace'] }}
                    ({{ settlement['rulerGender'] }}) - gouverne <i>{{ name }}</i>.
                    <br/>
                    C'est {{ article }} {{ settlement['rulerTitle'] }} qui est {{ settlement['rulerStatus'] }}.
                </p>

                {% if settlement['rulerFamily'] is iterable %}
                    <h6><i class="fas fa-project-diagram"></i>&nbsp;Famille</h6>
                    <p>
                        {{ settlement['rulerFamily']['total'] }} membres constituent la famille proche de
                        <b>{{ settlement['ruler'] }}</b> :
                    </p>
                    {{ include('transverse/_list_family.html.twig', {family: settlement['rulerFamily']}) }}
                {% endif %}

                <h6><i class="fas fa-coins"></i>&nbsp;Économie</h6>
                <p>
                    <i>{{ name }}</i> a un capital d'environ {{ settlement['capital']|number_format(0, '.', ' ') }} PO
                    et la qualité de vie de ce {{ type|lower }} est {{ settlement['comfort'] }}.
                    <br/>
                    Le capital est tiré entre autres des boutiques et des artisans mais la part importante de ces
                    revenus provient notamment:
                </p>
                {{ include(
                    'transverse/_list_vs_accordion.html.twig', {
                        list: settlement['merchandises'],
                        titleList: 'de l\'exportation des marchandises suivantes:',
                        titleAccordion: 'Des marchandises',
                    })
                }}

                {{ include(
                    'transverse/_list_vs_accordion.html.twig', {
                        list: settlement['warehouses'],
                        titleList: 'qui peuvent être stockées dans '~nbWarehouses~' entrepôts avec
                        conditions suivantes:',
                        titleAccordion: nbWarehouses~' entrepôts aux conditions particulières',
                    })
                }}

                {{ include(
                    'transverse/_list_vs_accordion.html.twig', {
                        list: settlement['shops'],
                        titleList: 'des boutiques et autres artisans suivants:',
                        titleAccordion: 'Des boutiques et autres artisans',
                    })
                }}

                {% if settlement['taverns'] is not empty and settlement['taverns']|length < 5 %}
                    ainsi que des services suivants:
                    <ul>
                        {% for tavern in settlement['taverns'] %}
                            <li>L'auberge <i>{{ tavern['name'] }}</i> qui {{ tavern['type'] }}.</li>
                        {% endfor %}
                    </ul>
                {% elseif settlement['taverns'] is not empty %}
                    <button class="accordion">Des services</button>
                    <div class="accordion-panel content">
                        <ul>
                            {% for tavern in settlement['taverns'] %}
                                <li>L'auberge <i>{{ tavern['name'] }}</i> qui {{ tavern['type'] }}.</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if settlement['temples'] is not empty %}
                    <h6><i class="fas fa-place-of-worship"></i>&nbsp;Religion</h6>
                    <p>
                        Si <i>{{ name }}</i> comprend {{ nbReligious }} lieu(x) religieux, tous les habitants ne sont
                        pas croyants et certains même n'hésitent pas à aller à contre-courant avec la tendance locale.
                    </p>
                    {% if settlement['temples']|length < 5 %}
                        Les établissements religieux sont représentés comme suit:
                        <ul>
                            {% for temple in settlement['temples'] %}
                                <li>
                                    {{ temple['religious'] }}
                                    {% if temple['gods']|length > 0 %}
                                        qui adore :
                                        {{ include('transverse/_gods.html.twig', {gods: temple['gods']}) }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <button class="accordion">Représentation des lieux religieux</button>
                        <div class="accordion-panel content">
                            <ul>
                                {% for temple in settlement['temples'] %}
                                    <li>
                                        {{ temple['religious'] }}
                                        {% if temple['gods']|length > 0 %}
                                            qui adore :
                                            {{ include('transverse/_gods.html.twig', {gods: temple['gods']}) }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}

                <h6><i class="fas fa-shield-alt"></i>&nbsp;Protections</h6>
                <i>{{ name }}</i> est protégé par des murs {{ protections['walls'] }} ainsi que
                {{ protections['doors'] }} portes qui sont {{ protections['doorConditions'] }}.
                <br/>
                Un effectif de {{ protections['soldiers'] }} {{ protections['soldierOrganisation'] }} sont disposés dans
                et autour de <i>{{ name }}</i>. Ils sont {{ protections['soldierCondition'] }}.
            </div>
        </div>
    </article>
</div>
