{% if place['rulerGender'] == 'Homme' %}
    {% set isFemale = false %}
{% else %}
    {% set isFemale = true %}
{% endif %}

<div class="card">
    <div class="card-image">
        <figure class="image is-2by1">
            <img src="{{ asset('build/images/Generator/Shop.jpg') }}" alt="shop">
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ place['shop'] }}</p>
                <p class="subtitle is-6">Boutique</p>
            </div>
        </div>

        <div class="content">
            <p>
                Cet endroit est la propriété ou la location de <i>{{ place['rulerName'] }}</i> - {{ place['rulerRace'] }}
                ({{ place['rulerGender'] }}) et {{ place['guards'] }} garde{% if place['guards']>1 %}s{% endif %} sont
                là pour le protéger.
                <i>{{ place['rulerName'] }}</i> {{ femalize(place['rulerCondition'], isFemale) }}.
                <br/>
                Le lieu est {% if not place['recommendable'] %} non-{% endif %}recommandable et généralement, les
                clients attendent {{ place['waitingTime'] }} minutes ici.
                <br/>
                On peut y trouver :
                {% if place['merchandises'] is not iterable %}
                    {{ place['merchandises'] }}.
                {% endif %}
            </p>

            {{ include('transverse/_list.html.twig', {list: place['merchandises']}) }}
        </div>
    </div>
</div>
