<div class="card">
    <div class="card-image">
        <figure class="image is-2by1">
            <img src="{{ asset('build/images/Generator/Tavern.jpg') }}" alt="tavern">
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4"><i>{{ place['name'] }}</i></p>
                <p class="subtitle i-6">Auberge</p>
            </div>
        </div>

        <div class="content">
            <p>
                Le lieu {{ place['tavern'] }} dirigé par {{ place['rulerName'] }} - {{ place['rulerRace'] }}
                ({{ place['rulerGender'] }}) - ainsi que {{ place['waiters'] }} serveur(s).
                <br/>
                L'établissement est considéré comme {{ place['comfort']|lower }}, semble être
                {{ place['condition']}} et est gardé par {{ place['guards'] }}
                garde{% if place['guards']>1 %}s{% endif %}.
                On y trouve également {{ place['rooms'] }} chambre{% if place['rooms']>1 %}s{% endif %}.
                <br/>
                Actuellement {{ place['winner']['name'] }}
                ({{ place['winner']['race'] }} - {{ place['winner']['gender'] }}) est à la première place au jeu :
                {{ place['game'] }} !
            </p>
            {% if place['services']|length > 0 %}
                <ul>
                    {% for service in place['services'] %}
                        <li>{{ service['name'] }} pour {{ service['price'] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
