<div class="card">
    <div class="card-image">
        <figure class="image is-2by1">
            <img src="{{ asset('build/images/Generator/Warehouse.jpg') }}" alt="warehouse">
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">Entrepôt</p>
            </div>
        </div>
        <div class="content">
            <p>
                L'endroit dirigé par {{ place['rulerName'] }} - {{ place['rulerRace'] }}
                ({{ place['rulerGender'] }}) - semble être {{ place['condition']}} et est gardé par
                {{ place['guards'] }} garde{% if place['guards']>1 %}s{% endif %}. L'espace doit faire environ
                {{ place['size'] }}m².
                <br/>
                Il est accessible par {{ place['doors'] }} porte{% if place['doors']>1 %}s{% endif %}.
                <br/>
                On peut y trouver :
                {% if place['merchandises'] is not iterable %}
                    {{ place['merchandises'] }}.
                {% endif %}
            </p>

            {{ include('transverse/_list.html.twig', {list: place['merchandises']}) }}
        </div>
    </div>
</div>
