{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Générateur de lieu{% endblock %}

{% block banner %}
    <section class="hero town is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Lieu</h4>
        <h6 class="subtitle is-6">
            <i>
                Générer des villes complètes avec leur description détaillée ou simplement des établissements avec
                quelques détails.
            </i>
        </h6>
        <div class="columns">
            <div class="column is-one-fifth">
                {{ form(form) }}
            </div>

            <div class="column">
                {% if random_place is not null and random_place|length > 0 %}
                    {% if random_place['type'] == 'RESIDENCE' %}
                        {{ include('generator/place/_residence.html.twig', {place: random_place})}}
                    {% elseif random_place['type'] == 'RELIGIOUS' %}
                        {{ include('generator/place/_religious.html.twig', {place: random_place}) }}
                    {% elseif random_place['type'] == 'TAVERN' %}
                        {{ include('generator/place/_tavern.html.twig', {place: random_place}) }}
                    {% elseif random_place['type'] == 'WAREHOUSE' %}
                        {{ include('generator/place/_warehouse.html.twig', {place: random_place}) }}
                    {% elseif random_place['type'] == 'SHOP' %}
                        {{ include('generator/place/_shop.html.twig', {place: random_place}) }}
                    {% elseif random_place['type'] == 'Village'
                        or random_place['type'] == 'Bourg'
                        or random_place['type'] == 'Ville'
                    %}
                        {{ include('generator/place/_settlement.html.twig', {settlement: random_place}) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
