<table class="table is-striped is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>
    {% for officer in officers %}
        <tr>
            <td class="has-text-weight-bold">{{ officer['name'] }}</td>
            <td>{{ officer['description'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
