<div class="columns is-multiline">
    {% for ship in ships %}
        <div class="column is-half">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ ship['image'] }}" alt="{{ ship['name'] }}">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 has-text-danger-dark">{{ ship['name'] }}</p>
                            <p class="subtitle is-6">
                                Véhicule {{ ship['metrics']['size'] }}
                                <i>({{ ship['metrics']['length'] }} par {{ ship['metrics']['width'] }})</i>
                            </p>
                        </div>
                    </div>

                    <div class="content has-text-justified">
                        <p>
                            <b>Couts de construction :</b> {{ ship['price'] }}
                            <br/>
                            <b>Capacité créature :</b> {{ ship['creature_capacity']['crew'] }} membres d'équipage,
                            {{ ship['creature_capacity']['passengers'] }} passagers
                            <br/>
                            <b>Capacité cargo :</b> {{ ship['cargo_capacity'] }}
                            <br/>
                            <b>Vitesse :</b> {{ ship['speed'] }}
                        </p>

                        <div class="is-bordered-bottom mb-4">
                            <h5 class="subtitle is-5 has-text-danger-dark">Coque</h5>
                        </div>
                        <p>
                            <b>Classe d'armure :</b> {{ ship['hull']['AC'] }}
                            <br/>
                            <b>Points de vie :</b> {{ ship['hull']['HP'] }}
                        </p>

                        <div class="is-bordered-bottom mb-4">
                            <h5 class="subtitle is-5 has-text-danger-dark">Contrôle : {{ ship['control']['name'] }}</h5>
                        </div>
                        <p>
                            <b>Classe d'armure :</b> {{ ship['control']['AC'] }}
                            <br/>
                            <b>Points de vie :</b> {{ ship['control']['HP'] }}
                            <br/>
                            {{ ship['control']['description'] }}
                        </p>

                        {% for movement in ship['movements'] %}
                            <div class="is-bordered-bottom mb-4">
                                <h5 class="subtitle is-5 has-text-danger-dark">Mouvement : {{ movement['name'] }}</h5>
                            </div>
                            <p>
                                <b>Classe d'armure :</b> {{ movement['AC'] }}
                                <br/>
                                <b>Points de vie :</b> {{ movement['HP'] }} ; {{ movement['damage'] }}
                                <br/>
                                <b>Locomotion :</b>
                                {{ movement['locomotion']['type'] }}, {{ movement['locomotion']['speed'] }}
                                {% if movement['locomotion']['description'] is not null %}
                                    , {{ movement['locomotion']['description'] }}
                                {% endif %}
                            </p>
                        {% endfor %}

                        {% if ship['weapons'] is defined %}
                            {% for weapon in ship['weapons'] %}
                                <div class="is-bordered-bottom mb-4">
                                    <h5 class="subtitle is-5 has-text-danger-dark">Arme : {{ weapon['name'] }}</h5>
                                </div>
                                <p>
                                    <b>Classe d'armure :</b> {{ weapon['AC'] }}
                                    <br/>
                                    <b>Points de vie :</b> {{ weapon['HP'] }}
                                    <br/>
                                    {{ weapon['attack'] }}
                                </p>
                            {% endfor %}
                        {% endif %}

                        <div class="is-bordered-bottom mb-4">
                            <h5 class="subtitle is-5 has-text-danger-dark">Action</h5>
                        </div>
                        <p>
                            {{ ship['action'] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
