{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Navigation{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero sailing is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">

                <h4 class="title is-4">Équipage</h4>
                <h6 class="subtitle is-6">
                    <i>
                        Générer un simple équipage avec leurs officiers.
                    </i>
                </h6>
                <div class="columns">
                    <div class="column content">
                        {{ form(form) }}
                    </div>
                </div>

                {% if random_crew is not null and random_crew|length > 0 %}
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5 has-text-danger-dark">{{ random_crew['ship'] }}</p>
                                        </div>
                                    </div>
                                    <div class="content has-text-justified">
                                        Votre équipage est constitué de {{ random_crew['crew'] }}
                                        {% if random_crew['crew'] > 1 %}
                                            matelots.
                                        {% else %}
                                            matelot.
                                        {% endif %}

                                        {% if random_crew['quartermaster'] != 0
                                            or random_crew['surgeon'] != 0
                                            or random_crew['cook'] != 0
                                        %}
                                            <hr/>
                                        {% endif %}

                                        {% if random_crew['quartermaster'] == 1 %}
                                            <i class="fas fa-compass has-text-danger-dark"></i>
                                            Votre navigation sera assurée par un quartier-maître
                                        {% endif %}

                                        {% if random_crew['surgeon'] != 0 %}
                                            {% if random_crew['quartermaster'] != 0 %}
                                                <br/>
                                            {% endif %}
                                            <i class="fas fa-stethoscope has-text-danger-dark"></i>
                                            {{ random_crew['surgeon'] }}
                                            {% if random_crew['surgeon'] == 1 %}
                                                chirugien tâchera
                                            {% else %}
                                                chirugiens tâcheront
                                            {% endif%}
                                            de garder tout le monde en vie et d'imposer de l'hygiène à bord.
                                        {% endif %}

                                        {% if random_crew['cook'] != 0 %}
                                            <br/>
                                            <i class="fas fa-cookie-bite has-text-danger-dark"></i>
                                            {{ random_crew['cook'] }}
                                            {% if random_crew['cook'] == 1 %}
                                                cuisinier proposera
                                            {% else%}
                                                cuisiniers proposeront
                                            {% endif%} les repas les plus adaptés lors du voyage.
                                        {% endif %}
                                    </div>
                                </div>

                                <footer class="card-footer">
                                    <div class="card-footer-item">
                                        <div class="content">
                                            <p>
                                                <i class="fas fa-hat-cowboy-side has-text-danger-dark"></i>
                                                {{ random_crew['captain'] }} capitaine
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card-footer-item">
                                        <div class="content">
                                            <p>
                                                <i class="fas fa-user-shield has-text-danger-dark"></i>
                                                {{ random_crew['first-mate'] }} officier(s) de pont
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card-footer-item">
                                        <div class="content">
                                            <p>
                                                <i class="fas fa-hammer has-text-danger-dark"></i>
                                                {{ random_crew['bosun'] }} maître(s) d'équipage
                                            </p>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="column">
                <button class="accordion">
                    <h4 class="title is-4">Bâtiments</h4>
                    <h6 class="subtitle is-6"><i>Liste des différents moyens de navigation.</i></h6>
                </button>
                <div class="accordion-panel">
                    {{ include('sailing/_ships.html.twig', {ships: ships}) }}
                </div>

                <hr/>

                <button class="accordion">
                    <h4 class="title is-4">Officiers</h4>
                    <h6 class="subtitle is-6"><i>Liste de la hiérarchie de la capitainerie.</i></h6>
                </button>
                <div class="accordion-panel">
                    {{ include('sailing/_officers.html.twig', {officers: officers}) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
