{% extends 'base.html.twig' %}

{% block title %} - Alchimie{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero alchemy is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Alchimie</h4>
        <h6 class="subtitle is-6">
            <i>
                Liste d'ingrédients et de recettes, ainsi que les règles de leur utilisation.
            </i>
        </h6>

        <div class="content has-text-justified">
            Zone en construction ! Revenez plus tard =)
        </div>
    </section>
{% endblock %}
