{% set price = magicItemPrice(tableName, loyal_merchant) %}

<div class="column is-3">
    <div class="card">
        <div class="card-content min-height-400">
            <div class="media">
                <div class="media-content has-text-centered">
                    <p class="title is-4 has-text-danger-dark">
                        {{ include('transverse/_link.html.twig', {href:item['link'], content:item['name']}) }}
                    </p>
                </div>
            </div>

            <nav class="level has-text-centered">
                <div class="level-item">
                    <div>
                        <p class="heading"><b>Achat</b></p>
                        <p class="subtitle">{{ price|number_format(0, '.', ' ') }} PO</p>
                    </div>
                </div>

                <div class="level-item">
                    <div>
                        <p class="heading"><b>Location</b></p>
                        <p class="subtitle">{{ magicItemRentPrice(price) }}</p>
                    </div>
                </div>
            </nav>

            <div class="content has-text-centered">
                {% if item['image'] is defined %}
                    <figure class="image is-4by3">
                        <img src="{{ item['image'] }}" alt="item" />
                    </figure>
                {% else %}
                    <div class="has-text-centered is-vcentered pt-6">
                        <i class="fas fa-magic fa-3x"></i>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
