<button class="accordion">
    <h4 class="title is-4">Règle de la création et de la vente d'objets magiques</h4>
    <h6 class="subtitle is-6">
        <i>Envie d'enchanter une épée et de trouver un revendeur ? Voici ce que disent les règles.</i>
    </h6>
</button>
<div class="accordion-panel">
    <div class="columns">
        <div class="column is-half">
            <div class="content has-text-justified">
                <p class="title is-5">
                    <i class="fas fa-mortar-pestle has-text-danger-dark"></i>&nbsp;Créer un objet magique
                </p>

                <p>Voici ce qui est pré-requis :</p>
                <ul>
                    {% for condition in craft_info['conditions'] %}
                        <li>{{ condition|raw }}</li>
                    {% endfor %}
                </ul>

                <table class="table is-striped is-narrow is-bordered">
                    <thead>
                    <tr>
                        <th>Rareté</th>
                        <th>Coûts</th>
                        <th>Niveau minimum</th>
                        <th>Durée (jours)</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for info in craft_info['crafting'] %}
                        <tr>
                            <td>{{ info['rarity'] }}</td>
                            <td>{{ info['cost'] }}</td>
                            <td class="has-text-centered">{{ info['level'] }}</td>
                            <td>{{ info['duration'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <hr/>

                <p>
                    Un joueur qui fabrique un objet magique progresse par incréments de 25 PO du coût de création
                    par jour, en supposant qu'il travaille pendant 8 heures chacun de ces jours.
                </p>
                <p>
                    Si l'objet produit un sort, le créateur doit dépenser un emplacement de sort du niveau du sort
                    chaque jour de sa création. Cela inclut avoir ou dépenser (si requis par le sort) des
                    composants matériels une fois par jour, à moins que l'objet n'ait une utilisation unique
                    (comme un parchemin de sort), auquel cas, les composants ne sont consommés qu'une seule fois.
                </p>
                <p>
                    Remarque: On peut supposer que les 25 PO par jour couvrent le coût des composants qui ne sont
                    pas associés à un coût. La facilité d'acquisition de ces composants est à la discrétion du MJ.
                    La recherche de composants peut constituer une quête parallèle amusante.
                </p>
            </div>
        </div>

        <div class="column is-half">
            <div class="content has-text-justified">
                <p class="title is-5">
                    <i class="fas fa-shopping-cart has-text-danger-dark"></i>&nbsp;Vendre un objet magique
                </p>

                <p>
                    Pour chaque objet à vendre, le personnage effectue un test d'Intelligence (Investigation)
                    DD20 pour trouver des acheteurs. Un autre personnage peut utiliser son temps d'arrêt pour
                    aider à la recherche, accordant un avantage sur les tests.
                </p>
                <p>
                    En cas d'échec du test, aucun acheteur pour l'article n'est trouvé après une recherche
                    d'une durée de 10 jours. Lors d'une réussite, un acheteur pour l'objet est trouvé après un
                    certain nombre de jours en fonction de la rareté de l'objet, comme indiqué dans le tableau
                    ci-dessous :
                </p>

                <p class="title is-5 has-text-centered has-text-danger-dark">Objet magique à vendre</p>
                <table class="table is-striped is-narrow is-bordered">
                    <thead>
                    <tr>
                        <th>Rareté</th>
                        <th>Prix</th>
                        <th>Jours d'attente</th>
                        <th>Mod. de d100*</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for info in sale_info['sale'] %}
                        <tr>
                            <td>{{ info['rarity'] }}</td>
                            <td>{{ info['price'] }}</td>
                            <td class="has-text-centered">{{ info['duration'] }}</td>
                            <td class="has-text-centered">{{ info['modificator'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="help">* modificateur à appliquer pour le tableau ci-dessous.</p>

                <p class="title is-5 has-text-centered has-text-danger-dark">... La vente</p>
                <table class="table is-striped is-narrow is-bordered">
                    <thead>
                    <tr>
                        <th class="has-text-centered">d100 + Mod. + Persuasion</th>
                        <th>Vous trouvez...</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for info in sale_info['buyer'] %}
                        <tr>
                            <td>{{ info['result'] }}</td>
                            <td>{{ info['description'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <p>
                    Un personnage peut tenter de trouver des acheteurs pour plusieurs objets magiques à la
                    fois. Bien que cela nécessite plusieurs tests d'Intelligence (Investigation), les
                    recherches se produisent simultanément et les résultats de plusieurs échecs ou réussites ne
                    sont pas additionnés. Par exemple, si le personnage trouve un acheteur pour un objet
                    magique commun en 2 jours et un acheteur pour un objet peu commun en 5 jours, mais ne
                    parvient pas à trouver un acheteur pour un objet rare, la recherche complète prend 10
                    jours.
                </p>
                <p>
                    Pour chaque objet qu'un personnage souhaite vendre, le joueur lance des dés 100 et
                    consulte le tableau ci-dessus, en appliquant un modificateur basé sur la rareté de l'objet.
                    Le personnage effectue également un test de Charisme (Persuasion) et ajoute le total de ce
                    test au jet. Le total détermine ce qu'un acheteur propose de payer pour l'article.
                </p>

                <ul>
                    <li>Vous déterminez l'identité d'un acheteur</li>
                    <li>
                        Les acheteurs se procurent parfois des objets rares et très rares par l'intermédiaire
                        de procurations pour s'assurer que leur identité reste inconnue
                    </li>
                    <li>
                        Si l'acheteur est louche, c'est à vous de décider si la vente crée ultérieurement des
                        complications juridiques pour la partie
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
