{% extends 'base.html.twig' %}

{% if merchant.race_info.gender == 'Homme' %}
    {% set isFemale = false %}
    {% set article1, article2, pronoun, pronoun2 = 'un', 'le', 'il', 'lui' %}
{% else %}
    {% set isFemale = true %}
    {% set article1, article2, pronoun, pronoun2 = 'une', 'la', 'elle', 'elle' %}
{% endif %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Comptoir magique{% endblock %}

{% block banner %}
    <section class="hero markplace is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        {{ include('_refresh.html.twig', {pathname: 'magic_trading_post'}) }}

        {{ include('magic_trading_post/_sell_buy_info.html.twig') }}

        <hr/>

        <h4 class="title is-4">Objets Magiques</h4>
        <h6 class="subtitle is-6"><i>Rechercher un objet magique en particulier.</i></h6>
        <div class="columns">
            <div class="column is-one-fifth">
                {{ form(form) }}
            </div>

            {% if item is not null %}
                {{ include(
                    'magic_trading_post/_item.html.twig',
                    {item:item, tableName:item['table-name'], loyal_merchant: true}
                ) }}
            {% endif %}
        </div>

        <hr/>

        <div class="content has-text-centered">
            <h1 class="title has-text-danger-dark">{{ merchant.race_info.name }}</h1>
            <h2 class="subtitle">vend ses objets magiques !</h2>
            <p>
                C'est {{ article1 }} {{ femalizeRace(merchant.race_info.race_name, isFemale) }} et {{ pronoun }} a une
                réputation assez
                {% if merchant.is_loyal == true %}bonne{% else %}mauvaise{% endif %}* dans la région.
            </p>
            <p class="help">
                * les prix peuvent être négociés à la hausse ou à la baisse, mais une mauvaise réputation induit des
                prix plus hauts que la normale.
            </p>
        </div>

        <div class="columns is-multiline">
            {% for table_name, items in random_sale %}
                {% for item in items %}
                    {{ include(
                        'magic_trading_post/_item.html.twig',
                        {item:item, tableName:table_name, loyal_merchant: merchant.is_loyal}
                    ) }}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
