<div class="tile is-ancestor">
    <div class="tile is-parent is-flex">
        <div class="tile is-child box">
            <p class="title is-6">{{ icon|raw }} {{ title }}</p>
            <ul>
                {% for item in list %}
                    <li>
                        <a class="is-link has-text-danger-dark link-animation"
                           href="{{ item['link'] }}"
                           target="_blank"
                        >
                            {{ item['name'] }}
                        </a>

                        {% if item['special'] is defined %}
                            <ul style="list-style-type: none">
                                {% for roll in item['special'] %}
                                    <li>{{ roll }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
