<div class="card {% if class is defined %}{{ class }}{% endif %}">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <i class="fas fa-poo fa-2x has-text-danger-dark"></i>
            </div>
            <div class="media-content has-text-justified">
                <p class="title is-4 has-text-danger-dark">{{ trap['trap'] }}</p>
            </div>
        </div>

        <div class="content">
            <p>
                Coûts d'installation: {{ trap['price'] }} PO
                <br/>
                Déclencheur: {{ trap['trigger'] }}
                <br/>
                Dangerosité: {{ trap['effect']['name'] }}
            </p>

            <article class="media">
                <div class="media-content">
                    Jet de sauvegarde: {{ trap['effect']['save'] }}
                    <br/>
                    Bonus à l'attaque: {{ trap['effect']['attack'] }}
                    <br/>
                    Dégâts:
                    <ul>
                        {% for level, damage in trap['effect']['damage'] %}
                            <li>{{ level }} : <span class="has-text-danger-dark">{{ damage }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
