<div class="content">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.Type) }}

    <div class="field">
        {{ form_label(form.Coffres) }}
        {{ form_widget(form.Coffres) }}

        <small>{{ form_help(form.Coffres) }}</small>

        <div class="form-error">
            {{ form_errors(form.Coffres) }}
        </div>
    </div>

    {{ form_row(form.Options) }}

    {{ form_row(form.OK) }}
    {{ form_row(form._token) }}
    {{ form_end(form) }}
</div>
