<h5 class="title is-5 has-text-centered">
    <i class="fas fa-gem has-text-danger-dark"></i> Coffre {{ idx + 1 }} <i class="fas fa-gem has-text-danger-dark"></i>
</h5>

<hr/>

{% if chest['coins'] is defined or chest['litterature'] is defined %}
    <div class="tile is-ancestor">
        {% if chest['coins'] is defined and chest['coins'] is not empty %}
            <div class="tile is-parent is-flex">
                <div class="tile is-child box">
                    <p class="title is-6"><i class="fas fa-coins has-text-danger"></i> Pièces</p>
                    <ul>
                        {% for devise, amount in chest['coins'] %}
                            <li>{{ amount }} {{ devise }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if chest['litterature'] is defined %}
            <div class="tile is-parent is-flex">
                <div class="tile is-child box">
                    <p class="title is-6"><i class="fas fa-book has-text-danger"></i> Livre</p>
                    <ul>
                        {% for book in chest['litterature'] %}
                            <li>{{ book }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if chest['container'] is defined %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-flex">
            <div class="tile is-child box">
                <p class="title is-6"><i class="fas fa-box-open has-text-danger"></i> Contenu (matière dans le coffre)</p>
                <ul>
                    {% for item in chest['container'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if chest['trinket'] is defined %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-flex">
            <div class="tile is-child box">
                <p class="title is-6"><i class="fas fa-toilet has-text-danger"></i> Babioles</p>
                <ul>
                    {% for item in chest['trinket'] %}
                        <li>{{ item|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% if chest['rewards'] is defined %}
    {% for key, items in chest['rewards'] %}
        <div class="tile is-ancestor">
            <div class="tile is-parent is-flex">
                <div class="tile is-child box">
                    <p class="title is-6"><i class="fas fa-list-ul has-text-danger"></i> {{ key }}</p>
                    <ul>
                        {% for item in items %}
                            <li>{{ item|raw }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if chest['tableA'] is defined and chest['tableA'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique commun',
            icon: '<i class="fas fa-candy-cane has-text-danger"></i>',
            list: chest['tableA']
        }
    ) }}
{% endif %}

{% if chest['tableB'] is defined and chest['tableB'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique peu commun',
            icon: '<i class="fas fa-magic has-text-danger"></i>',
            list: chest['tableB']
        }
    ) }}
{% endif %}

{% if chest['tableC'] is defined and chest['tableC'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique rare',
            icon: '<i class="fas fa-hand-sparkles has-text-danger"></i>',
            list: chest['tableC']
        }
    ) }}
{% endif %}

{% if chest['tableD'] is defined and chest['tableD'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique très rare',
            icon: '<i class="fas fa-hat-wizard has-text-danger"></i>',
            list: chest['tableD']
        }
    ) }}
{% endif %}

{% if chest['tableE'] is defined and chest['tableE'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique légendaire',
            icon: '<i class="fas fa-quidditch has-text-danger"></i>',
            list: chest['tableE']
        }
    ) }}
{% endif %}

{% if chest['tableF'] is defined and chest['tableF'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique peu commun',
            icon: '<i class="fas fa-magic has-text-danger"></i>',
            list: chest['tableF']
        }
    ) }}
{% endif %}

{% if chest['tableG'] is defined and chest['tableG'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique rare',
            icon: '<i class="fas fa-hand-sparkles has-text-danger"></i>',
            list: chest['tableG']
        }
    ) }}
{% endif %}

{% if chest['tableH'] is defined and chest['tableH'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique très rare',
            icon: '<i class="fas fa-hat-wizard has-text-danger"></i>',
            list: chest['tableH']
        }
    ) }}
{% endif %}

{% if chest['tableI'] is defined and chest['tableI'] is not empty %}
    {{ include(
        'dungeon/_list_link_items.html.twig',
        {
            title: 'Objet magique légendaire',
            icon: '<i class="fas fa-quidditch has-text-danger"></i>',
            list: chest['tableI']
        }
    ) }}
{% endif %}
