{% extends 'base.html.twig' %}

{% block title %} - Donjon{% endblock %}

{% block banner %}
    <section class="hero dungeon is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third m-2">
                {{ include('_refresh.html.twig', {pathname: 'dungeon'}) }}

                <h4 class="title is-4">Éléments au hasard</h4>
                <h6 class="subtitle is-6"><i>Chaque élément peut-être utilisé distinctement l'un de l'autre.</i></h6>
                <div class="columns is-multiline has-text-centered">
                    {% for key, item in random_info %}
                        <div class="column m-2 box is-left-bordered is-size-6 has-min-width-150">
                            {% if key == 'door' %}
                                <i class="fas fa-door-closed fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Porte</h6>
                                <p>
                                    {{ item[0] }}
                                    <br/>
                                    <span class="has-text-danger-dark">({{ item[1]|join(' / ') }})</span>
                                </p>
                            {% else %}
                                {% if key == 'air' %}
                                    <i class="fas fa-wind fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Air</h6>
                                {% elseif key == 'odor' %}
                                    <i class="fas fa-fan fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Odeur</h6>
                                {% elseif key == 'noise' %}
                                    <i class="fas fa-podcast fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Son</h6>
                                {% elseif key == 'adventure' %}
                                    <i class="fas fa-book-open fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Aventure</h6>
                                {% elseif key == 'riddle' %}
                                    <i class="fas fa-question fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Énigme</h6>
                                {% elseif key == 'puzzle' %}
                                    <i class="fas fa-puzzle-piece fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Puzzle</h6>
                                {% endif %}
                                <p>{{ item }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <hr/>

                <h4 class="title is-4">Piège au hasard</h4>
                <h6 class="subtitle is-6">
                    <i>Si les dégâts sont trop élevés, se référer aux exemples de dégâts de l'écran du maître.</i>
                </h6>
                {{ include('dungeon/_trap.html.twig', {trap: random_trap}) }}
            </div>

            <div class="column m-2">
                <h4 class="title is-4">Trésors</h4>
                <h6 class="subtitle is-6">
                    <i>
                        Générer jusqu'à 6 coffres contenant des merveilles, ou des babioles...
                    </i>
                </h6>
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        {{ include('dungeon/_treasure_form.html.twig', {form: form}) }}
                    </div>
                </div>

                {% if random_treasure is not null and random_treasure|length > 0 %}
                    <hr/>

                    <div class="columns is-multiline form-scroll">
                        {% for idx, treasure in random_treasure %}
                            <div class="column is-half content">
                                {{ include('dungeon/_treasure.html.twig', {chest: treasure}) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form-scroll') }}
{% endblock %}
