<div class="columns has-text-centered">
            <div class="column is-one-third">
                <h4 class="title is-4 has-text-danger-dark">Armes</h4>
                <table class="table is-fullwidth is-bordered is-narrow is-striped">
                    <thead>
                    <tr>
                        <th>Qualité</th>
                        <th>Mod.</th>
                        <th>Prix de base</th>
                        <th>Mod. de prix</th>
                        <th>Prix max.</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for row in rules['craftmanship_weapon'] %}
                        <tr>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['mod'] }}</td>
                            <td>{{ row['cost-base'] }}</td>
                            <td>{{ row['cost-mod'] }}</td>
                            <td>{{ row['cost-max'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="column is-one-third">
                <h4 class="title is-4 has-text-danger-dark">Armures</h4>
                <table class="table is-fullwidth is-bordered is-narrow is-striped">
                    <thead>
                    <tr>
                        <th>Qualité</th>
                        <th>Poids</th>
                        <th>Propriétés</th>
                        <th>Mod. de prix</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for row in rules['craftmanship_armor'] %}
                        <tr>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['weight'] }}</td>
                            <td>{{ row['properties'] }}</td>
                            <td>{{ row['cost-mod'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="column is-one-third">
                <h4 class="title is-4 has-text-danger-dark">Argenture</h4>
                <table class="table is-fullwidth is-bordered is-narrow is-striped">
                    <thead>
                    <tr>
                        <th>Qualité</th>
                        <th>Prix</th>
                        <th>Durée</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for row in rules['silvering'] %}
                        <tr>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['cost'] }}</td>
                            <td>{{ row['duration'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>