<table class="table is-striped is-fullwidth is-narrow is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Poids</th>
        <th>Propriétés</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    <tr>
        <td class="has-text-danger-dark" colspan="6"><b>Munitions</b></td>
    </tr>
    {% for ammunitions in ammunitions %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ ammunitions['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ ammunitions['price'] }}</td>
            <td class="is-vcentered">{{ ammunitions['weight'] }}</td>
            <td class="is-vcentered has-text-justified">{{ ammunitions['properties'] }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="has-text-danger-dark" colspan="6"><b>Munitions magiques</b></td>
    </tr>
    {% for ammunitions in magical_ammunitions %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ ammunitions['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ ammunitions['price'] }}</td>
            <td></td>
            <td class="is-vcentered has-text-justified">{{ ammunitions['properties']|raw }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>