<table class="table is-striped is-fullwidth is-narrow is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Spécial</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    {% for ammunition in ammunitions %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ ammunition['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ ammunition['price'] }}</td>
            <td class="has-text-justified is-vcentered">{{ ammunition['special'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>