<table class="table is-striped is-fullwidth is-narrow is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>CA</th>
        <th>Dégâts</th>
        <th>Poids</th>
        <th>Propriétés</th>
        <th>Spécial</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    {% for shield in shields %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ shield['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ shield['price'] }}</td>
            <td class="is-vcentered">{{ shield['AC'] }}</td>
            <td class="is-vcentered">{{ shield['damage'] }}</td>
            <td class="is-vcentered">{{ shield['weight'] }}</td>
            <td class="is-vcentered">{{ shield['properties'] }}</td>
            <td class="has-text-justified is-vcentered">{{ shield['special'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>