<table class="table is-striped is-fullwidth is-narrow is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Dégâts</th>
        <th>Poids</th>
        <th>Propriétés</th>
        <th>Spécial</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    {% for section, list in weapons %}
        <tr>
            <td class="has-text-danger-dark" colspan="6"><b>{{ section }}</b></td>
        </tr>
        {% for item in list %}
            <tr>
                <td class="is-vcentered"><strong><i>{{ item['name'] }}</i></strong></td>
                <td class="is-vcentered">{{ item['price'] }}</td>
                <td class="is-vcentered">{{ item['damage'] }}</td>
                <td class="is-vcentered">{{ item['weight'] }}</td>
                <td class="is-vcentered">{{ item['properties'] }}</td>
                <td class="has-text-justified is-vcentered">{{ item['special'] }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>