<table class="table is-striped is-fullwidth is-narrow is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Dégâts</th>
        <th>Poids</th>
        <th>Propriétés</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    <tr>
        <td class="has-text-danger-dark" colspan="6"><b>Armes à feu simples</b></td>
    </tr>
    {% for gun in simple_firearms %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ gun['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ gun['price'] }}</td>
            <td class="is-vcentered">{{ gun['damage'] }}</td>
            <td class="is-vcentered">{{ gun['weight'] }}</td>
            <td class="is-vcentered has-text-left">{{ gun['properties'] }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="has-text-danger-dark" colspan="6"><b>Armes à feu de guerre</b></td>
    </tr>
    {% for gun in martial_firearms %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ gun['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ gun['price'] }}</td>
            <td class="is-vcentered">{{ gun['damage'] }}</td>
            <td class="is-vcentered">{{ gun['weight'] }}</td>
            <td class="is-vcentered has-text-left">{{ gun['properties'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>