{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Arsenal{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero weapons is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Règles additionnelles</h4>
        <h6 class="subtitle is-6">
            <i>
                Ajout de règles se la qualité des armes et des armures ainsi que de l'argenture.
            </i>
        </h6>
        {{ include('arsenal/_additional_rules.html.twig', {rules:additional_rules}) }}

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Extension des armes</h4>
            <h6 class="subtitle is-6">
                <i>
                    Ajout d'armes exotiques ou non, avec certains attributs spéciaux.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            {{ include('arsenal/_extended_weapons.html.twig', {weapons: extended_weapons}) }}
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Extension des munitions</h4>
            <h6 class="subtitle is-6">
                <i>
                    Ajout de munitions pour les arcs et les arbalètes.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            {{ include('arsenal/_extended_ammunitions.html.twig', {ammunitions: extended_ammunitions}) }}
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Extension des armures</h4>
            <h6 class="subtitle is-6">
                <i>
                    Ajout d'armures supplémentaires, avec certains attributs spéciaux et de nouvelles propriétés.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            {{ include('arsenal/_extended_armors.html.twig', {armors: extended_armors}) }}
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Extension des boucliers</h4>
            <h6 class="subtitle is-6">
                <i>
                    Ajout de boucliers avec certains attributs spéciaux.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            {{ include('arsenal/_extended_shields.html.twig', {shields: extended_shields}) }}
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Armes à feu</h4>
            <h6 class="subtitle is-6">
                <i>
                    Liste des armes à feu et leurs règles spéciales.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>
                            <b class="has-text-danger-dark">Arme à feu.</b> La propriété arme à feu fonctionne comme les
                            propriétés Munition et Chargement, sauf que vous pouvez renoncer à une attaque ou utiliser une
                            action bonus pour la recharger afin de la tirer à nouveau dans le même tour. Le rechargement d'une
                            arme à feu nécessite deux mains.
                        </p>
                        <p>
                            Comme la plupart des armes à feu allument leur poudre avec une mèche à combustion lente, une arme à
                            feu a également 25% de chances (1-5 sur votre jet d'attaque) de ne pas tirer sous une pluie
                            battante, et 10% de chances (1-2 sur votre jet d'attaque) de ne pas tirer sous une pluie légère.
                            Une arme à feu qui ne tire pas gaspille la poudre utilisée pour ce tir, mais ne gaspille aucune
                            munition.
                        </p>
                        <p>
                            N'importe quel forgeron pourrait en théorie construire ou réparer une arme à feu si on lui donnait
                            les dessins ou un spécimen à copier.
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="content">
                        <p>
                            <b class="has-text-danger-dark">Diffusion.</b> Lorsque vous attaquez une cible dans la moitié de la
                            portée normale de une arme, lancez un dé de dégâts supplémentaires et ajoutez-le aux dégâts de
                            l'arme. Lorsqu'il est tiré à longue portée, vous pouvez appliquer le jet d'attaque à une créature
                            supplémentaire à 1,50 mètre ou moins de la cible. Faites un jet de dégâts contre la cible
                            secondaire séparément.
                        </p>

                        <p>
                            <b class="has-text-danger-dark">Enfourché.</b> Une arme qui a cette propriété est conçue
                            pour être tirée uniquement lorsqu'elle est posée sur une fourche spéciale (1 PO, 1 kg) ou
                            sur une surface dure et fixe, comme un muret. Poser l'arme nécessite une action ou une
                            action bonus (au choix du joueur). Si le joueur bouge après avoir posé l'arme, ou laisse
                            tomber l'arme, l'arme n'est plus considérée comme posée. Tant qu'une arme avec cette
                            propriété n'est pas posée, les jets d'attaque avec elle sont désavantagés à moins que le
                            score de Force du personnage soit égal ou supérieur au nombre entre parenthèses.
                        </p>
                    </div>
                </div>
            </div>

            <div class="content">
                <p>
                    Outre les munitions, toutes les armes à feu nécessitent également de la
                    <b class="has-text-danger-dark">poudre noire magique</b> pour
                    fonctionner. Un paquet contient assez de poudre pour 5 coups d'arme à feu, tandis qu'un fût
                    contient assez de poudre pour 500 coups.
                </p>
            </div>

            {{ include(
                'arsenal/_firearms.html.twig',
                {simple_firearms: firearms['simple_firearms'], martial_firearms: firearms['martial_firearms']}
            ) }}

            {{ include(
                'arsenal/_ammunitions.html.twig',
                {ammunitions: firearms['ammunitions'], magical_ammunitions: firearms['magical_ammunitions']}
            ) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
