{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block banner %}
    <section class="hero forest is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Qu'est-ce que ce site ?</h4>

        <div class="columns">
            <div class="column is-half">
                <div class="content has-text-justified">
                    <p>
                        DDbuilder est un outil offrant des aides à la création d'un scénario pour le Maître du Jeu
                        d'une partie de Donjons & Dragons, 5ᵉ édition. Il offre un certain nombre d'éléments au hasard,
                        permettant par exemple d'obtenir une information qui n'était pas prévue par le scénario. Il est
                        le reflet de mes besoins en tant que MJ.
                        <br/>
                        Ce site est purement amateur et n'a aucune intention d'être une référence solide en matière de
                        D&D 5e. Il est conçu de façon complémentaire à <a class="has-text-danger-dark link-animation"
                                                                          href="https://www.aidedd.org/"
                                                                          target="_blank">AideDD</a>.
                    </p>

                    <p>
                        À l'utilisation, le symbole de rafraîchissement <span class="loader loader-small"></span> en
                        haut de page permet rapidement d'obtenir de nouveaux éléments au hasard.
                    </p>

                    <p class="help">
                        * Les ambiances sont des propositions d'éléments non liés entre eux, ils peuvent être utilisés
                        distinctement.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
