<div class="content">
	{% if travel is not null and travel|length > 0 %}
		<div class="columns is-multiline form-scroll">
			{% for idx, day in travel %}
				<div class="column is-half content has-text-justified">
					<h5 class="has-text-danger-dark"> Jour {{ idx }} </h5>

					{% if day['lost_km'] is defined %}
						<p>
							Les joueurs se sont perdus et leur voyage a été retardé de {{ day['days'] }}
							{% if 1 == day['days'] %} jour{% else %} jours{% endif %}.
							Ils ont rallongé leur route de <b>{{ day['lost_km'] }} km</b> et ont consommé
							<b>
								{{ day['rations']|abs }}
								{% if 1 == day['rations'] %} ration{% else %} rations{% endif %}
							</b>
							...
						</p>
					{% else %}
						<article class="media box">
							<div class="media-left">
								{{ day['forecast']['icon']|raw }}
							</div>
							<div class="media-content">
								<div class="content">
									{{ include('environment/_forecast.html.twig', { forecast: day['forecast'] }) }}
								</div>
							</div>
						</article>

						<p>
							{{ day['pace_effect'] }} Ils effectuent {{ day['km'] }} km cette journée. Ils consomment
							{{ day['consume'] }} rations.
						</p>

						{% if 0 < day['rations'] %}
							<p>
								Les joueurs ont trouvé
								<b>
									{{ day['rations']}}
									{% if 1 == day['rations'] %} ration {% else %} rations {% endif %}
								</b>
								grâce à {{ day['forage'] }} !
							</p>
						{% endif %}

						{% if day['encounter'] is iterable %}
							<p>
								{% if true == day['is_trap'] %}
									Les joueurs se sont fait surprendre ! Ils sont attaqués par :
								{% else %}
									Les joueurs ont repéré des ennemis sur la route :
								{% endif %}
							</p>

							<div class="columns is-multiline">
								{% for mob in day['encounter'] %}
									<div class="column is-6">
										{{ include('generator/boss/_mob.html.twig', {mob: mob}) }}
									</div>
								{% endfor %}
							</div>
						{% else %}
							<p>Les joueurs croisent {{ day['encounter']|lower }} ce jour là.
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

{% block javascripts %}
	{{ encore_entry_script_tags('form-scroll') }}
{% endblock %}