{% extends 'base.html.twig' %}

{% block title %} - Voyage{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero adventure is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Voyage</h4>
        <h6 class="subtitle is-6">
            <i>
                Générer un voyage complet avec des rencontres aléatoires, les distances parcourues, les rations
                consommées et les embuches possibles...
            </i>
        </h6>
        <div class="columns">
            <div class="column is-one-fifth">
                {{ form(form) }}
            </div>

            <div class="column">
                {{ include('generator/travel/_travel.html.twig', {travel: random_travel}) }}
            </div>
        </div>
    </section>
{% endblock %}
