<div class="content is-size-6">
    <h4 class="title is-4">Course poursuite au hasard</h4>
    <p class="has-text-justified is-italic">
        Chaque participant peut utiliser jusqu'à 3 + CON Mod. Action de ruée.
        Chaque Action de ruée supplémentaire à ce nombre demande un Jet de Sauvegarde DD10 CON.
        En cas d'échec, le niveau de fatigue augmente de 1. Au niveau 5 de fatigue, la créature
        s'arrête. Un repos court ou long supprime la fatique.
    </p>
</div>

<div class="columns has-text-centered mt-1 content">
    <div class="column is-one-third">
        <i class="fas fa-city fa-2x has-text-danger-dark"></i>
        <p class="heading has-text-danger-dark">
            En ville
        </p>
        <p class="has-text-centered">{{ chase['urban']|raw }}</p>
    </div>
    <div class="column is-one-third">
        <i class="fas fa-adjust fa-2x has-text-danger-dark"></i>
        <p class="heading has-text-danger-dark">
            Avantages/Désavantages
        </p>
        <p class="title is-5">{{ chase['environment'] }}</p>
    </div>
    <div class="column is-one-third">
        <i class="fas fa-tree fa-2x has-text-danger-dark"></i>
        <p class="heading has-text-danger-dark">Région sauvage
        </p>
        <p class="has-text-centered">{{ chase['wilderness']|raw }}</p>
    </div>
</div>