{% extends 'base.html.twig' %}

{% block title %} - Aventure{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero adventure is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                {{ include('_refresh.html.twig', {pathname: 'adventure'}) }}

                <h4 class="title is-4">Éléments au hasard</h4>
                <h6 class="subtitle is-6">
                    <i>L'événement peut être utilisé de manière locale ou mondial, tout comme la prophétie.</i>
                </h6>
                <div class="columns is-multiline has-text-centered">
                    {% for key, item in random_info %}
                        <div class="column m-2 box is-left-bordered is-size-6 has-min-width-150">
                            {% if key == 'plane' %}
                                <i class="fas fa-layer-group fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Plan</h6>
                                <p>
                                    {{ item['plane'] }}
                                    {% if item['subplane'] is not null %}
                                        <br/>
                                        <span class="has-text-danger-dark">({{ item['subplane'] }})</span>
                                    {% endif %}
                                </p>
                            {% else %}
                                {% if key == 'event' %}
                                    <i class="fas fa-calendar-day fa-2x has-text-danger-dark has"></i>
                                    <h6 class="title is-6">Événement</h6>
                                {% elseif key == 'prophecy' %}
                                    <i class="fas fa-scroll fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Prophétie</h6>
                                {% endif %}
                                <p>{{ item|raw }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <hr/>

                <h4 class="title is-4">Petite histoire au hasard</h4>
                <h6 class="subtitle is-6">
                    <i>Une intrigue incluant des personnages non-joueurs créés à la volée.</i>
                </h6>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <i class="fas fa-question fa-2x has-text-danger-dark"></i>
                                </figure>
                            </div>

                            <div class="media-content">
                                <p class="title is-4">{{ plot_hook['name'] }}</p>
                                <p class="subtitle is-6">{{ plot_hook['locales'] }}</p>
                            </div>
                        </div>

                        <div class="content has-text-justified">
                            <p>
                                {{ plot_hook['hook'] }}
                                <br/>
                                {{ plot_hook['interaction']|characterize|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                {{ include('adventure/_chase.html.twig', {chase: random_chase}) }}
            </div>
        </div>
    </section>
{% endblock %}
