<p {% if form_scroll is defined and form_scroll == true %} class="form-scroll"{% endif %}>
    <strong>{{ forecast['precipitation'] }}</strong>
</p>
<p>
    {{ forecast['wind'] }}
    {% if forecast['wind'] != 'Pas de vent' %}
        en direction {{ forecast['direction'] }}
    {% endif %}
    et il fait {{ forecast['temperature'] }}°C
</p>
<p class="help">
    (Si la température semble "impossible",
    considerer que c'est une météo influencée par la magie)
</p>
