<table class="table is-bordered is-narrow is-striped is-fullwidth">
    <thead class="has-text-centered">
    <tr>
        <td class="title is-5" colspan="2">Folie à court terme</td>
    </tr>
    <tr>
        <td class="has-text-danger-dark">d100</td>
        <td class="has-text-danger-dark">Effet (dure 1d10 minutes)</td>
    </tr>
    </thead>

    <tbody class="has-text-justified">
    <tr>
        <td>01-20</td>
        <td>
            Le personnage se retire dans son esprit et devient paralysé. L'effet se termine si le personnage subit des
            dégâts.
        </td>
    </tr>
    <tr>
        <td>21-30</td>
        <td>Le personnage devient incapable et passe la durée à crier, rire ou pleurer.</td>
    </tr>
    <tr>
        <td>31-40</td>
        <td>
            Le personnage devient effrayé et doit utiliser son action et son mouvement à chaque tour pour fuir la
            source de la peur.
        </td>
    </tr>
    <tr>
        <td>41–50</td>
        <td>Le personnage commence à babiller et est incapable de parler ou de lancer des sorts normalement.</td>
    </tr>
    <tr>
        <td>51–60</td>
        <td>Le personnage doit utiliser son action à chaque tour pour attaquer la créature la plus proche.</td>
    </tr>
    <tr>
        <td>61–70</td>
        <td>Le personnage subit des hallucinations vives et a un désavantage aux tests de capacité.</td>
    </tr>
    <tr>
        <td>71–75</td>
        <td>Le personnage fait tout ce que quelqu'un lui dit de faire qui n'est évidemment pas autodestructeur.</td>
    </tr>
    <tr>
        <td>76–80</td>
        <td>
            Le personnage éprouve une envie irrésistible de manger quelque chose d'étrange comme de la terre, de la
            boue ou des abats.
        </td>
    </tr>
    <tr>
        <td>81-90</td>
        <td>Le personnage est abasourdi.</td>
    </tr>
    <tr>
        <td>91-100</td>
        <td>Le personnage tombe inconscient.</td>
    </tr>
    </tbody>
</table>

<table class="table is-bordered is-narrow is-striped is-fullwidth">
    <thead class="has-text-centered">
    <tr>
        <td class="title is-5" colspan="2">Folie à long terme</td>
    </tr>
    <tr>
        <td class="has-text-danger-dark">d100</td>
        <td class="has-text-danger-dark">Effet (dure 1d10 x 10 heures)</td>
    </tr>
    </thead>

    <tbody class="has-text-justified">
    <tr>
        <td>01-10</td>
        <td>
            Le personnage se sent obligé de répéter indéfiniment une activité spécifique, comme se laver les mains,
            toucher des objets, prier ou compter des pièces.
        </td>
    </tr>
    <tr>
        <td>11-20</td>
        <td>Le personnage éprouve des hallucinations vives et a un désavantage aux tests de capacité.</td>
    </tr>
    <tr>
        <td>21-30</td>
        <td>
            Le personnage souffre d'une paranoïa extrême. Le personnage a un désavantage aux tests de Sagesse et de
            Charisme.
        </td>
    </tr>
    <tr>
        <td>31-40</td>
        <td>
            Le personnage considère quelque chose (généralement la source de la folie) avec une répulsion intense, 
            comme s'il était affecté par l'effet d'antipathie du sort d'antipathie/sympathie.
        </td>
    </tr>
    <tr>
        <td>41–45</td>
        <td>
            Le personnage éprouve une puissante illusion. Choisissez une potion. Le personnage s'imagine être sous ses
            effets.
        </td>
    </tr>
    <tr>
        <td>46–55</td>
        <td>
            Le personnage s'attache à un « porte-bonheur », comme une personne ou un objet, et a un désavantage aux
            jets d'attaque, aux tests de capacité et aux jets de sauvegarde à plus de 9 mètres de lui.
        </td>
    </tr>
    <tr>
        <td>56–65</td>
        <td>Le personnage est aveuglé (25 %) ou assourdi (75 %).</td>
    </tr>
    <tr>
        <td>66–75</td>
        <td>
            Le personnage subit des tremblements ou des tics incontrôlables, qui imposent un désavantage aux jets
            d'attaque, aux tests de caractéristique et aux jets de sauvegarde impliquant la Force ou la Dextérité.
        </td>
    </tr>
    <tr>
        <td>76–85</td>
        <td>
            Le personnage souffre d'amnésie partielle. Le personnage sait qui il est et conserve des traits raciaux et
            des caractéristiques de classe, mais ne reconnaît pas les autres et ne se souvient pas de ce qui s'est
            passé avant que la folie ne prenne effet.
        </td>
    </tr>
    <tr>
        <td>86-90</td>
        <td>
            À chaque fois que le personnage subit des dégâts, il doit réussir un jet de sauvegarde de Sagesse DD 15 ou
            être affecté comme s'il avait raté un jet de sauvegarde contre le sort de confusion. L'effet de confusion
            dure 1 minute.
        </td>
    </tr>
    <tr>
        <td>91–95</td>
        <td>Le personnage perd la capacité de parler.</td>
    </tr>
    <tr>
        <td>96–100</td>
        <td>
            Le personnage tombe inconscient. Aucune quantité de bousculade ou de dégâts ne peut réveiller le personnage.
        </td>
    </tr>
    </tbody>
</table>

<table class="table is-bordered is-narrow is-striped is-fullwidth">
    <thead class="has-text-centered">
    <tr>
        <td class="title is-5" colspan="2">Folie indéfinie</td>
    </tr>
    <tr>
        <td class="has-text-danger-dark">d100</td>
        <td class="has-text-danger-dark">Défaut (dure jusqu'à la guérison)</td>
    </tr>
    </thead>

    <tbody class="has-text-justified">
    <tr>
        <td>01–15</td>
        <td>“Being drunk keeps me sane.”</td>
    </tr>
    <tr>
        <td>16–25</td>
        <td>“I keep whatever I find.”</td>
    </tr>
    <tr>
        <td>26–30</td>
        <td>
            “I try to become more like someone else I know—adopting his or her style of dress, mannerisms, and name.”
        </td>
    </tr>
    <tr>
        <td>31–35</td>
        <td>“I must bend the truth, exaggerate, or outright lie to be interesting to other people.”</td>
    </tr>
    <tr>
        <td>36–45</td>
        <td>“Achieving my goal is the only thing of interest to me, and I’ll ignore everything else to pursue it.”</td>
    </tr>
    <tr>
        <td>46–50</td>
        <td>“I find it hard to care about anything that goes on around me.”</td>
    </tr>
    <tr>
        <td>51–55</td>
        <td>“I don’t like the way people judge me all the time.”</td>
    </tr>
    <tr>
        <td>56–70</td>
        <td>“I am the smartest, wisest, strongest, fastest, and most beautiful person I know.”</td>
    </tr>
    <tr>
        <td>71–80</td>
        <td>
            “I am convinced that powerful enemies are hunting me, and their agents are everywhere I go. I am sure
            they’re watching me all the time.”
        </td>
    </tr>
    <tr>
        <td>81–85</td>
        <td>“There’s only one person I can trust. And only I can see this special friend.”</td>
    </tr>
    <tr>
        <td>86–95</td>
        <td>“I can’t take anything seriously. The more serious the situation, the funnier I find it.”</td>
    </tr>
    <tr>
        <td>96-100</td>
        <td>“I’ve discovered that I really like killing people.”</td>
    </tr>
    </tbody>
</table>
