<table class="table is-striped is-fullwidth is-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix au kg</th>
        <th>Ferreux ?</th>
        <th>CA</th>
        <th>Propriétés</th>
    </tr>
    </thead>

    <tbody class="has-text-centered">
    {% for metal in metals %}
        <tr>
            <td class="is-vcentered"><strong><i>{{ metal['name'] }}</i></strong></td>
            <td class="is-vcentered">{{ metal['price'] }}</td>
            <td class="is-vcentered">{{ metal['ferrous'] }}</td>
            <td class="is-vcentered">{{ metal['AC'] }}</td>
            <td class="is-vcentered has-text-justified">{{ metal['description'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>