{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Environnement{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero environment is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                {{ include('_refresh.html.twig', {pathname: 'environment'}) }}

                <h4 class="title is-4">Éléments au hasard</h4>
                <h6 class="subtitle is-6"><i>Chaque élément peut-être utilisé distinctement l'un de l'autre.</i></h6>
                <div class="columns is-multiline">
                    {% for key, item in random_info %}
                        <div class="column m-2 box has-text-centered is-left-bordered has-min-width-150">
                            {% if key == 'foraging' %}
                                <i class="fas fa-utensils fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Recherche de nourriture</h6>
                                <p>{{ item[0] }} ({{ item[1] }})</p>
                            {% elseif key == 'encounter' %}
                                <i class="fas fa-road fa-2x has-text-danger-dark"></i>
                                <h6 class="title is-6">Rencontre</h6>
                                <p>{{ item['result'] }} {{ item['name'] }}{{ random(item['list']) }}</p>
                            {% else %}
                                {% if key == 'temperature' %}
                                    <i class="fas fa-temperature-high fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Température</h6>
                                {% elseif key == 'wind' %}
                                    <i class="fas fa-wind fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Vent</h6>
                                {% elseif key == 'precipitation' %}
                                    <i class="fas fa-cloud-sun-rain fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Précipitation</h6>
                                {% elseif key == 'adventure' %}
                                    <i class="fas fa-book-open fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Aventure</h6>
                                {% elseif key == 'rumor' %}
                                    <i class="fas fa-comment fa-2x has-text-danger-dark"></i>
                                    <h6 class="title is-6">Rumeur</h6>
                                {% endif %}
                                <p>{{ item }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <hr/>

                <h4 class="title is-4">Prévisions météo</h4>
                <h6 class="subtitle is-6">
                    <i>Profiter d'une météo au hasard avec ses effets incontrôlés, ou obtenir la météo saisonale.</i>
                </h6>
                <div class="columns is-multiline">
                    <div class="column is-full box">
                        <h5 class="title is-5"> Météo au hasard :</h5>
                        <article class="media">
                            <div class="media-left">
                                {{ random_forecast['icon']|raw }}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    {{ include('environment/_forecast.html.twig', { forecast: random_forecast }) }}
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="column box">
                        <h5 class="title is-5">
                            {% if month_forecast is not null and month_forecast['month'] is not null %}
                                {{ month_forecast['month'] }}
                            {% else %}
                                Météo par mois :
                            {% endif %}
                        </h5>
                        <article class="media">
                            <div class="media-left">
                                {% if month_forecast is not null %}
                                    {{ month_forecast['icon']|raw }}
                                {% else %}
                                    <i class="far fa-calendar-alt fa-2x has-text-danger-dark"></i>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    {% if month_forecast is not null %}
                                        {{ include('environment/_forecast.html.twig',
                                            { forecast: month_forecast, form_scroll: true })
                                        }}
                                    {% endif %}

                                    {{ form(weather_form) }}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class="column">
                <button class="accordion">
                    <h4 class="title is-4">Métaux</h4>
                    <h6 class="subtitle is-6">
                        <i>
                            Liste des métaux plus ou moins communs avec leur prix standard.
                        </i>
                    </h6>
                </button>

                <div class="accordion-panel">
                    <div class="content">
                        <figure>
                            <img width="630" height="421" src="{{ asset('build/images/Metals.jpg') }}" alt="metals" />
                        </figure>
                    </div>
                    {{ include('environment/_metals.html.twig', {metals: metals}) }}
                </div>

                <hr/>

                <h4 class="title is-4">Maladies</h4>
                <h6 class="subtitle is-6">
                    <i>Sélectionner une maladie pour en connaître les effets.</i>
                </h6>
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        <div class="content">
                            {{ form(disease_form) }}
                        </div>
                    </div>
                </div>

                {% if disease is not null %}
                    <hr/>

                    <div class="columns">
                        <div class="column">
                            <div class="box form-scroll">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content has-text-justified">
                                            <h5 class="title is-5 has-text-danger-dark">{{ disease['name'] }}</h5>
                                            {{ disease['description']|raw }}

                                            {% if disease['effects'] is defined %}
                                                <ul>
                                                    {% for effect in disease['effects'] %}
                                                        <li>{{ effect }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                            {% if disease['helper'] is defined %}
                                                <p class="help">{{ disease['helper'] }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <hr/>

                <h4 class="title is-4">Folies</h4>
                <h6 class="subtitle is-6">
                    <i>Caractéristiques des folies et informations sur les effets.</i>
                </h6>
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        <div class="content">
                            {{ form(madness_form) }}
                        </div>
                    </div>
                </div>

                {% if madness is not null %}
                    <hr/>

                    <div class="columns">
                        <div class="column">
                            <div class="box form-scroll">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content has-text-justified">
                                            <h5 class="title is-5 has-text-danger-dark">{{ madness['name'] }}</h5>
                                            <p>
                                                <b>Court terme :</b> {{ madness['short_term'] }}
                                            </p>
                                            <p>
                                                <b>Long terme :</b> {{ madness['long_term'] }}
                                            </p>
                                            <p>
                                                <b>Défaut ajouté :</b> {{ madness['indefinite'] }}
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <button class="accordion">
                    <h4 class="title is-4">Folies génériques</h4>
                    <h6 class="subtitle is-6">
                        <i>Tables de folies aux effets génériques </i>
                    </h6>
                </button>
                <div class="accordion-panel">
                    {{ include('environment/_madness_effects.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
    {{ encore_entry_script_tags('form-scroll') }}
{% endblock %}
