{% extends 'base.html.twig' %}

{% block title %} - Recherche{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero search is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Recherche</h4>
        <h6 class="subtitle is-6">
            <i>
                Note: la recherche s'effectue en parcourant tous les termes que le site contient. Si le terme est
                trouvé dans une page, vous serez redirigé vers elle.
            </i>
        </h6>
        
        <div class="content">
            <p>
                Vous avez recherché <b>{{ needle }}</b>. Voici les pages qui peuvent être liées :
            </p>
            <ul>
                {% for route, page in results %}
                    <li class="search-item">
                        <a class="has-text-danger-dark link-animation" href="{{ path(route) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
