<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-danger-dark">{{ archetype['name'] }}</p>
                <p class="subtitle is-6">{{ archetype['description'] }}</p>
            </div>
        </div>

        <div class="content has-text-justified">
            <hr/>

            <p>
                <b>Classe d'armure :</b> {{ archetype['AC']['score'] }} {{ archetype['AC']['type'] }}
                <br/>
                <b>Points de vie :</b> {{ archetype['HP']['score'] }} {{ archetype['HP']['dices'] }}
                <br/>
                <b>Vitesse :</b> {{ archetype['speed'] }}
            </p>

            <hr/>

            <nav class="level">
                {% for carac, value in archetype['traits']['AS'] %}
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"><b>({{ mod(value) }})</b></p>
                            <p class="subtitle">{{ carac }} = {{ value }}</p>
                        </div>
                    </div>
                {% endfor %}
            </nav>

            <hr/>

            <p>
                <b class="has-text-danger-dark">Jets de sauvegarde :</b> {{ archetype['traits']['saving'] }}
                <br/>
                <b class="has-text-danger-dark">Compétence :</b> {{ archetype['traits']['skills'] }}
                <br/>
                <b class="has-text-danger-dark">Sens :</b> {{ archetype['traits']['senses'] }}
                <br/>
                <b class="has-text-danger-dark">Langues :</b> {{ archetype['traits']['languages'] }}
            </p>

            <hr/>

            <p>
                <b>Outils :</b> {{ archetype['tools'] }}
                {% for name, feature in archetype['features'] %}
                    <br/>
                    <b>{{ name }}.</b> {{ feature|raw }}
                {% endfor %}
            </p>

            <div class="is-bordered-bottom mb-4">
                <h5 class="subtitle is-5 has-text-danger-dark">Actions</h5>
            </div>
            <p>
                {% for name, action in archetype['actions'] %}
                    <b>{{ name }}.</b> {{ action|raw }}
                    <br/>
                {% endfor %}
            </p>
        </div>
    </div>
</div>