<div class="card">
    <div class="card-content">
        <div class="content has-text-justified">
            <h5>Imprégnations :</h5>

            {% for name, info in extra_info %}
                <p class="title is-5 has-text-danger-dark">{{ name }}</p>
                <p class="subtitle">
                    <i>Object : {{ info['object'] }}</i></p>
                <p>
                    {{ info['description'] }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>