<div class="content">
    <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead class="has-text-centered is-vcentered">
        {% if has_spells == true %}
            <tr>
                <th class="has-text-danger-dark has-text-centered is-vcentered" colspan="5">Au delà du niveau 1...</th>
                <th colspan="2">Emplacements de sorts</th>
            </tr>
        {% endif %}
        <tr>
            <th>Niveau</th>
            <th>Points de vie</th>
            <th>Capacités</th>
            {% if has_spells == true %}
                <th>Sorts mineurs connus</th>
                <th>Sorts connus</th>
                <th>1</th>
                <th>2</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for level, info in level_up %}
            <tr>
                <td>{{ level }}</td>
                <td>{{ info['HP'] }}</td>
                <td>
                    {% if info['traits'] is iterable %}
                        {{ info['traits']|join('<br/>')|raw }}
                    {% else %}
                        {{ info['traits'] }}
                    {% endif %}
                </td>
                {% if has_spells == true %}
                    {% for slots in info['spells'] %}
                        {% if slots is iterable %}
                            {% for slot in slots %}
                                <td>{{ slot }}</td>
                            {% endfor %}
                        {% else %}
                            <td>{{ slots }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>