{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Compagnons{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero sidekick is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Compagnons</h4>
        <h6 class="subtitle is-6">
            <i>
                Vos joueurs ont besoin d'aide ? Un aventurier non-joueur souhaite rejoindre l'aventure ?
            </i>
        </h6>

        <div class="content has-text-justified">
            <p>
                Les compagnons sont basés sur les règles des
                <a class="link-animation has-text-danger-dark"
                   href="https://www.aidedd.org/regles/comparses/"
                   target="_blank"
                >comparses</a>.
                <br/>
                Ici sont présentés des compagnons faits maison, ils sont donc à ajuster à la discrétion du MJ. Un
                compagnon commence au niveau 1 et sa fiche présente ses caractèristiques de base. Certaines de ces
                caractéristiques doivent être choisies, souvent selon les mêmes règles que pour les personnages des
                joueurs. Des informations complémentaires peuvent être jointes à la fiche et enfin, un tableau décrit les
                niveaux supérieurs du compagnon.
            </p>
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Artificier</h4>
            <h6 class="subtitle is-6"><i> Et si votre compagnon savait insufler la magie dans vos objets ?</i>
            </h6>
        </button>

        <div class="accordion-panel">
            <div class="columns">
                <div class="column is-half">
                    {{ include('sidekick/_card.html.twig', {archetype:archetype_artificer['artificer'], has_spells:true}) }}
                </div>

                <div class="column is-half">
                    {{ include('sidekick/_extra_info.html.twig', {extra_info:archetype_artificer['extra_info']}) }}
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    {{ include('sidekick/_level_up.html.twig',
                        {level_up:archetype_artificer['level_up'], has_spells:true}
                    )}}
                </div>
            </div>
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Barde</h4>
            <h6 class="subtitle is-6"><i>Et si votre compagnon racontait vos exploits à chaque taverne ?</i>
            </h6>
        </button>

        <div class="accordion-panel">
            <div class="columns">
                <div class="column is-half">
                    {{ include('sidekick/_card.html.twig', {archetype:archetype_bard['bard']}) }}
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    {{ include('sidekick/_level_up.html.twig',
                        {level_up:archetype_bard['level_up'], has_spells:true}
                    )}}
                </div>
            </div>
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Sauvage</h4>
            <h6 class="subtitle is-6"><i>Et si vous trouviez votre compagnon chez une tribu indigène ?</i>
            </h6>
        </button>

        <div class="accordion-panel">
            <div class="columns">
                <div class="column is-half">
                    {{ include('sidekick/_card.html.twig', {archetype:archetype_savage['savage']}) }}
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    {{ include('sidekick/_level_up.html.twig',
                        {level_up:archetype_savage['level_up'], has_spells:false}
                    )}}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
