.accordion {
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: rgba(0,0,0,.7);
    cursor: pointer;
    margin-bottom: 1em;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}
/* Style the buttons that are used to open and close the accordion panel */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
    display: none;
}

/* Add + and - symbols */
button.accordion::after {
    color: #777;
    content: '\002B';
    float: right;
    font-weight: bold;
    margin-left: 5px;
}
button.accordion.active::after {
    content: "\2212";
}
