::selection {
    background: #cc0f35;
    color: #ffffff;
}
::-moz-selection {
    background: #cc0f35;
    color: #ffffff;
}

html {
    background: #f9f9f9 url("../images/BG_Texture.png") repeat;
    height: 100%;
}

body {
    height: 100%;
}

.adventure {
    background: url("../images/Adventure.jpg") 50% 45%;
    background-size: cover;
}

.alchemy {
    background: url("../images/Alchemy.webp") 50% 60%;
    background-size: cover;
}

.boss {
    background: url("../images/Boss.jpg") 50% 30%;
    background-size: cover;
}

.dungeon {
    background: url("../images/Dungeon.jpg") 50% 0;
    background-size: cover;
}

.environment {
    background: url("../images/Environment.jpg") 50% 50%;
    background-size: cover;
}

.extra-rules {
    background: url("../images/Extra_Rules.jpg") 50% 50%;
    background-size: cover;
}

.forest {
    background: url("../images/Forest.jpeg") 50% 40%;
    background-size: cover;
}

.is-bordered-bottom {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.is-bordered-left {
    border-color: #dbdbdb;
    border-radius: .375em;
    border-style: solid;
    border-width: 0 0 0 4px;
}

.is-hidden {
    display: none;
}

.libary {
    background: url("../images/Libary.jpg") 50% 60%;
    background-size: cover;
}

.link-animation {
    background:
            linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 10%) 1px no-repeat,
            linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 10%) 1px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
}

.link-animation:hover {
    --d: 100%;
    --p: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
}

.markplace {
    background: url("../images/Marketplace.jpg") 50% 100%;
    background-size: cover;
}

.max-height {
    height: 100%;
}

.min-height-400 {
    min-height: 400px;
}

.parabolic-ellipse {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='200' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.955)' style='transform-origin:center'%3E%3Cg transform='rotate(57.6 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23CC0F35' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23c50e36' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23be0e37' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23b70d39' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23b00c3a' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23a90c3b' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23a20b3c' href='%23a'/%3E%3Cuse stroke='%239b0b3e' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23940a3f' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%238d0940' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23860941' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%237f0843' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23770744' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23700745' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23690646' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23620547' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%235b0549' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2354044a' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%234d044b' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%2346034c' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%233f024e' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%2338024f' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23310150' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.pnj {
    background: url("../images/PNJ.jpg") 50% 50%;
    background-size: cover;
}

.rainbow-vortex {
    background-color: #CC0F35;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='100' stroke-opacity='0.12' %3E%3Ccircle fill='%23CC0F35' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c30139' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23ba003c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23b0003e' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23a60040' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%239b0041' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23910042' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23860042' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%237b0041' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23700040' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2365003e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%235b003c' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23500139' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23460336' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233b0432' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2332042e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23290429' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.sailing {
    background: url("../images/Sailing.jpg") 50% 70%;
    background-size: cover;
}

.search {
    background: url("../images/Search.jpg") 50% 40%;
    background-size: cover;
}

.search-item {
    list-style-type: '🗡';
    padding-inline: 1ch;
}
.search-item::marker {
    color: #cc0f35;
}

.slanted-gradiant {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2329030b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23520615' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%237a0920' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a30c2a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CC0F35' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.sidekick {
    background: url("../images/Sidekick.jpg") 50% 40%;
    background-size: cover;
}

.svg {
    height: 100px;
    position: absolute;
    top: 476px;
    width: 100%;
}

.tavern {
    background: url("../images/Tavern.jpg") 50% 70%;
    background-size: cover;
}

.town {
    background: url("../images/Town.jpg") 50% 50%;
    background-size: cover;
}

.weapons {
    background: url("../images/Weapons.jpg") 50% 50%;
    background-size: cover;
}
