.loader {
    animation: 1s rotate linear infinite;
    border-color: #de3500 rgba(54, 54, 54, 0.3) #363636 rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    border-style: solid dotted solid dotted;
    border-width: 3px 2px 3px 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    position: relative;
    width: 48px;
}

.loader:before, .loader:after {
    border: 10px solid transparent;
    border-bottom-color: #363636;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-10px, 19px) rotate(-35deg);
}

.loader:after {
    border-color: #de3500 #0000 #0000 #0000;
    transform: translate(32px, 3px) rotate(-35deg);
}

.loader:hover.loader {
    animation: none;
}

.loader-button, .loader-button:active, .loader-button:focus {
    border: none;
    background: none;
}

.loader-small {
    border-width: 1px 1px 1px 1px;
    height: 1.25rem;
    width: 1.25rem;
}

.loader-small:before, .loader-small:after {
    border: 3px solid transparent;
    border-bottom-color: #363636;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0px, 0.8rem) rotate(-35deg);
}

.loader-small:after {
    border-color: #de3500 #0000 #0000 #0000;
    transform: translate(0.8rem, 0px) rotate(-35deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}
