{% extends 'base.html.twig' %}

{% block title %} - Roadmap{% endblock %}

{% block body %}
    <section class="section is-medium">
        <h4 class="title is-4"><i class="fas fa-lightbulb fa-2x has-text-danger-dark"></i> Idées</h4>
        
        <div class="content has-text-justified">
            <h5 class="title is-5">Quoi de prévu pour la suite ?</h5>
            <ul>
                <li>Ajout des mécènes</li>
                <li>Ajout des règles de challenge</li>
                <li>Ajout des règles de critiques</li>
                <li>
                    Mise à jour de la page environnement:
                    <ul>
                        <li>Générateur de rencontre par type de terrain</li>
                        <li>Ajout d'éléments d'alchimie</li>
                        <li>Ajout de recettes de potions</li>
                    </ul>
                </li>
                <li>
                    Mise à jour de la page PNJ:
                    <ul>
                        <li>Ajout de nouveaux traits physiques et de personnalité</li>
                        <li>Ajout de la notion de classe et de niveau</li>
                        <li>Ajout de la notion de héros du peule</li>
                    </ul>
                </li>
                <li>Ajout des règles additionnelles sur la création de tatouages magiques</li>
                <li>Ajout de la génération automatique (ville -> boutiques, PNJ, ...)</li>
            </ul>
        </div>
    </section>
{% endblock %}
