<footer class="footer has-background-black-ter has-text-white-ter">
    <div class="content has-text-centered">
        <p>
            <b>DDBuilder <span class="is-size-7">({{ version() }})</span></b> par
            <a class="has-text-danger-dark link-animation" href="https://gitlab.com/Birdiz" target="_blank">
                <i class="fab fa-gitlab"></i> Birdiz
            </a> / Propulsé par
            <a class="has-text-danger-dark link-animation" href="https://symfony.com/" target="_blank">
                <i class="fab fa-symfony"></i> Symfony
            </a> et mis en forme avec
            <a class="has-text-danger-dark link-animation" href="https://bulma.io/" target="_blank">
                <i class="fab fa-css3"></i> Bulma
            </a>.
        </p>

        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="link has-text-danger-dark link-animation" href="{{ path('homepage') }}">
                    <i class="fas fa-campground"></i> Accueil
                </a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-danger-dark link-animation" href="{{ path('bug') }}" target="_blank">
                    <i class="fas fa-bug"></i> J'ai trouvé un bug !
                </a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-danger-dark link-animation" href="{{ path('idea') }}" target="_blank">
                    <i class="fas fa-lightbulb"></i> Idées
                </a>
            </p>
        </nav>
    </div>
</footer>
