<nav class="navbar is-light is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-danger-dark link-animation {{ isRouteActive('homepage') }}"
           href="{{ path('homepage') }}"
        >
            <i class="fas fa-campground fa-2x"></i>&nbsp;ACCUEIL
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item {{ isRouteActive('dm_screen') }}" href="{{ path('dm_screen') }}">
                <i class="fas fa-map"></i>&nbsp;ÉCRAN DU MAÎTRE
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fas fa-book"></i>&nbsp;AVENTURE
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item {{ isRouteActive('adventure') }}" href="{{ path('adventure') }}">
                        <i class="fas fa-book-open"></i>&nbsp;AVENTURE
                    </a>

                    <a class="navbar-item {{ isRouteActive('dungeon') }}" href="{{ path('dungeon') }}">
                        <i class="fas fa-chess-rook"></i>&nbsp;DONJON
                    </a>

                    <a class="navbar-item {{ isRouteActive('environment') }}" href="{{ path('environment') }}">
                        <i class="fas fa-leaf"></i>&nbsp;ENVIRONNEMENT
                    </a>

                    <a class="navbar-item {{ isRouteActive('tavern') }}" href="{{ path('tavern') }}">
                        <i class="fas fa-beer"></i>&nbsp;AUBERGE
                    </a>

                    <a class="navbar-item {{ isRouteActive('sailing') }}" href="{{ path('sailing') }}">
                        <i class="fas fa-ship"></i>&nbsp;NAVIGATION
                    </a>
                </div>
            </div>

            <a class="navbar-item {{ isRouteActive('magic_trading_post') }}" href="{{ path('magic_trading_post') }}">
                <i class="fas fa-hat-wizard"></i>&nbsp;COMPTOIR MAGIQUE
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fas fa-cogs"></i>&nbsp;GÉNÉRATEUR
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item {{ isRouteActive('generator_pnj') }}" href="{{ path('generator_pnj') }}">
                        <i class="fas fa-user"></i>&nbsp;PERSONNAGE
                    </a>

                    <a class="navbar-item {{ isRouteActive('generator_place') }}" href="{{ path('generator_place') }}">
                        <i class="fas fa-globe-europe"></i>&nbsp;LIEU
                    </a>

                    <a class="navbar-item {{ isRouteActive('generator_boss') }}" href="{{ path('generator_boss') }}">
                        <i class="fas fa-skull-crossbones"></i>&nbsp;BOSS
                    </a>

                    <a class="navbar-item {{ isRouteActive('generator_travel') }}" href="{{ path('generator_travel') }}">
                        <i class="fas fa-compass"></i>&nbsp;VOYAGE
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fas fa-plus-square"></i>&nbsp;RÈGLES ADDITIONNELLES
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item {{ isRouteActive('extra_rules') }}" href="{{ path('extra_rules') }}">
                        <i class="fas fa-plus"></i>&nbsp;RÈGLES ADDITIONNELLES
                    </a>

                    <a class="navbar-item {{ isRouteActive('alchemy') }}" href="{{ path('alchemy') }}">
                        <i class="fas fa-mortar-pestle"></i>&nbsp;ALCHIMIE
                    </a>

                    <a class="navbar-item {{ isRouteActive('arsenal') }}" href="{{ path('arsenal') }}">
                        <i class="fas fa-shield-alt"></i>&nbsp;ARSENAL
                    </a>

                    <a class="navbar-item {{ isRouteActive('sidekick') }}" href="{{ path('sidekick') }}">
                        <i class="fas fa-users"></i>&nbsp;COMPAGNONS
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                    {{ include('_search_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</nav>
