<form action="{{ path('search') }}" method="get">
    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input id="search_needle" class="input" type="text" placeholder="Rechercher" name="needle">
                    <span class="icon is-small is-left"><i class="fa-solid fa-magnifying-glass"></i></span>
                </p>
            </div>

            <div class="field">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button id="search_OK" class="button has-text-white-ter has-background-danger-dark">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
