<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DDBuilder{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('build/images/favicon.ico') }}' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma-helpers/0.4.0/css/bulma-helpers.min.css"
          integrity="sha512-U6ELnUi7oqVEjkLmFw5r5UR5LEtvpImS/jUykBKneVhD0lxZxfJZ3k3pe003ktrtNZYungd9u3Urp2X09wKwXg=="
          crossorigin="anonymous"
    />
    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{{ include('_menu.html.twig') }}

{% block banner %}{% endblock %}
{# overlay over the banner #}
<svg class="svg" xmlns="http://www.w3.org/2000/svg" width="100%" preserveAspectRatio="none">
    <defs>
        <pattern id="texture" patternUnits="userSpaceOnUse" x="0" y="0" width="500" height="300">
            <image xlink:href="{{ asset('build/images/BG_Texture.png') }}" x="0" y="0" width="500" height="300"/>
        </pattern>
    </defs>

    <polygon fill="url(#texture) white" points="0,0 0,100 2000,100"/>
</svg>

<div class="container is-size-5">
    {% block body %}{% endblock %}
</div>

{{ include('_footer.html.twig') }}


<script defer src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
{{ encore_entry_script_tags('app', attributes={
    defer: true
}) }}
{% block javascripts %}
{% endblock %}
</body>
</html>
