{% set isMultiple = false %}
{% if gods|length > 1 %}
    {% set isMultiple = true %}
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Divinité{% if isMultiple %}s{% endif %}</th>
        <th>Alignement</th>
        <th>Domaine{% if isMultiple %}s{% endif %}</th>
    </tr>
    </thead>
    <tbody>
    {% for god in gods %}
        <tr>
            <td class="has-text-left has-text-weight-bold">{{ god['name'] }}</td>
            <td>{{ god['alignment'] }}</td>
            <td>{{ god['domains'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
