{% if list is not empty %}
    {% if list|length < 5 %}
        {{ titleList }}
        <ul>
            {% for item in list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <button class="accordion">{{ titleAccordion }}</button>
        <div class="accordion-panel content">
            <ul>
                {% for item in list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
