<p>
    {{ archetype['description'] }}
</p>

<div class="is-bordered-bottom mb-4">
    <h5 class="subtitle is-5 has-text-danger-dark">Caractéristiques</h5>
</div>
<p>
    <b>FP :</b> {{ archetype['fp'] }}
    <br/>
    <b>Points de vie :</b> {{ archetype['hp'] }}
    <br/>
    <b>Attaque :</b> {{ archetype['attack'] }}
    <br/>
    <b>Spécial :</b> {{ archetype['special'] }}
</p>

<div class="is-bordered-bottom mb-4">
    <h5 class="subtitle is-5 has-text-danger-dark">Actions</h5>
</div>
<p>
    <b>Action :</b> {{ archetype['action'] }}
    <br/>
    <b>Action Bonus :</b> {{ archetype['bonus_action'] }}
    <br/>
    <b>Réaction :</b> {{ archetype['reaction'] }}
</p>
