{% if showArchetype is not defined %}
    {% set showArchetype = true %}
{% endif %}

<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title is-1 has-text-danger-dark">
                    {{ include('transverse/_link.html.twig',
                        {href: boss['boss']['link'], content: boss['boss']['name']})
                    }}
                </p>
            </div>
        </div>
        
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading"><b>Facteur de Puissance (FP)</b></p>
                    <p class="subtitle">{{ boss['boss']['fp'] }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading"><b>Prime à la chasse</b></p>
                    <p class="subtitle">{{ boss['bounty'] }}</p>
                </div>
            </div>
        </nav>
        
        <div class="content has-text-justified">
            <div class="columns is-centered">
                {% if true == showArchetype %}
                    <div class="column is-half">
                        <div class="message">
                            <div class="message-header">
                                <p><i class="fas fa-cogs"></i> Archétype: {{ boss['archetype']['name'] }}</p>
                            </div>
                            <div class="message-body has-text-justified">
                                {{ include('generator/boss/_archetype.html.twig', {archetype: boss['archetype']}) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                <div class="column {% if true == showArchetype %}is-half{% endif %}">
                    <div class="message">
                        <div class="message-header">
                            <p><i class="fas fa-pastafarianism"></i> Description</p>
                        </div>
                        <div class="message-body has-text-justified">
                            {{ boss['boss']['description']|raw }}
                        </div>
                    </div>
                </div>
            </div>
            
            <hr/>
            
            {% if boss['mobs'] is not empty %}
                <p>
                    Ce monstre est souvent accompagné d'autres créatures autour de lui, voici une proposition de sbires
                    ou d'alliés :
                </p>
                
                <div class="columns is-multiline">
                    {% for mob in boss['mobs'] %}
                        <div class="column is-3">
                            {{ include('generator/boss/_mob.html.twig', {mob: mob}) }}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>
                    Ce monstre est plutôt un solitaire, il n'a pas vraiment de sbires ou d'alliés pour le
                    défendre.
                </p>
            {% endif %}
            
            <hr/>
            
            {% if boss['rooms'] is not empty %}
                {% set items = 'obstacle qui pourrait' %}
                {% if boss['rooms']|length > 1 %}
                    {% set items = 'obstacle qui pourraient' %}
                {% endif %}
                
                <p>
                    Pour atteindre ce boss, voici une proposition d'{{ items }} entraver le passage des joueurs :
                </p>
                
                <div class="columns is-multiline">
                    {% for num, room in boss['rooms'] %}
                        <div class="column is-full">
                            <article class="message">
                                <div class="message-header">
                                    <p>{{ adjectivize(num) }} obstacle</p>
                                </div>
                                <div class="message-body">
                                    {{ include('generator/boss/_room.html.twig', {room: room}) }}
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
