<div class="card is-full-height">
    <div class="card-image">
        {% if mob['mob']['image'] is not empty %}
            <figure class="image is-4by3">
                <img src="{{ mob['mob']['image'] }}" alt="{{ mob['mob']['name'] }}" />
            </figure>
        {% else %}
            <div class="has-text-centered pt-5 {% if class is defined %}{{ class }}{% endif %}">
                <i class="fas fa-pastafarianism fa-5x"></i>
            </div>
        {% endif %}
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-5 has-text-centered">
                    {{ include('transverse/_link.html.twig', {href:mob['mob']['link'], content:mob['mob']['name']}) }}
                </p>
            </div>
        </div>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading"><b>Nombre</b></p>
                    <p class="subtitle">{{ mob['nb'] }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading"><b>FP</b></p>
                    <p class="subtitle">{{ mob['mob']['fp'] }}</p>
                </div>
            </div>
        </nav>
    </div>
</div>
