<div class="columns is-multiline">
    {% if room['trap'] is defined %}
        <div class="column is-half">
            {{ include('dungeon/_trap.html.twig', {trap: room['trap'], class:' is-full-height'}) }}
        </div>
    {% endif %}

    {% if room['mobs'] is defined %}
        {% if room['mobs']|length > 1 %}
            <div class="column is-full">
                <div class="columns is-multiline">
                    {% for key, mob in room['mobs'] %}
                        <div class="column">
                            {{ include('generator/boss/_mob.html.twig', {mob: mob, class: ' pt-6'}) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="column is-half">
                {{ include('generator/boss/_mob.html.twig', {mob: room['mobs'][0], class: ' pt-6'}) }}
            </div>
        {% endif %}
    {% endif %}
</div>
