{% extends 'base.html.twig' %}

{% block title %} - Générateur de boss{% endblock %}

{% block banner %}
    <section class="hero boss is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Boss</h4>
        <h6 class="subtitle is-6"><i>Fonctionnalité en cours de développement</i></h6>
        <div class="columns">
            <div class="column is-one-fifth">
                {{ form(form) }}

                {% if random_boss is not null and random_boss['boss']['image'] is not same as '' %}
                    <hr/>

                    <figure class="image">
                        <img src="{{ random_boss['boss']['image'] }}"
                             alt="{{ random_boss['boss']['name'] }}"
                        />
                    </figure>
                {% endif %}

                <hr/>

                <p class="help">
                    Si le combat semble déséquilibré, rendez-vous sur le
                    <a class="has-text-danger-dark"
                       href="https://www.aidedd.org/dnd-encounter/index.php"
                       target="_blank"
                    >configurateur AideDD</a> pour ajuster le combat selon le niveau vos joueurs.
                    <br/>
                    Retrouvez également la liste des
                    <a class="has-text-danger-dark"
                       href="https://www.aidedd.org/dnd-filters/monstres.php"
                       target="_blank"
                    >monstres.</a>
                </p>
            </div>

            <div class="column">
                {% if random_boss is not null %}
                    {{ include('generator/boss/_boss.html.twig', {boss: random_boss}) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
