{% extends 'base.html.twig' %}

{% block title %} - Générateur{% endblock %}

{% block body %}
    <section class="section">
        <div class="content">
            <ul>
                <li>
                    <a class="has-text-danger-dark" href="{{ path('generator_pnj') }}">Boss</a>
                </li>
                <li>
                    <a class="has-text-danger-dark" href="{{ path('generator_boss') }}">Boss</a>
                </li>

                <li>
                    <a class="has-text-danger-dark" href="{{ path('generator_place') }}">Lieu</a>
                </li>

                <li>
                    <a class="has-text-danger-dark" href="{{ path('generator_travel') }}">Lieu</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
