<table class="table is-striped is-fullwidth is-bordered is-narrow">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Location (par jour)</th>
        <th>Durée (jours)</th>
    </tr>
    </thead>

    <tbody>
    {% for item in list %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['rent'] }}</td>
            <td class="has-text-centered">{{ item['duration'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
