<div class="columns is-multiline">
    {% for lifestyle in lifestyles %}
        {% set hasServices = lifestyle['services'] is not empty %}
        <div class="column {% if hasServices %}is-half{% else %}is-one-third{% endif%} has-text-justified">
            <h5 class="title is-5">
                {{ lifestyle['name'] }} <span class="has-text-danger-dark">({{ lifestyle['price'] }})</span>
            </h5>
            {{ lifestyle['desc']|raw }}

            {% if hasServices %}
                <hr/>

                <h6 class="subtitle">Services :</h6>
                <table class="table is-striped is-bordered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for service in lifestyle['services'] %}
                        <tr>
                            <td>{{ service['name'] }}</td>
                            <td>{{ service['price'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endfor %}
</div>
