<table class="table is-striped is-fullwidth is-bordered is-narrow">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Coût par jour</th>
        <th>Employé non-qualifié</th>
        <th>Employé qualifié</th>
    </tr>
    </thead>

    <tbody>
    {% for item in list %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td>{{ item['cost'] }}</td>
            <td class="has-text-centered">{{ item['worker_unqualified'] }}</td>
            <td class="has-text-centered">{{ item['worker_qualified'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
