<table class="table is-striped is-fullwidth is-bordered is-narrow">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Charge </th>
        {% if hasRent %}
            <th>Location (par jour)</th>
        {% endif %}
    </tr>
    </thead>

    <tbody>
    {% for item in list %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['charge'] }}</td>
            {% if hasRent %}
                <td>{{  item['rent'] }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
