{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block title %} - Écran du maître{% endblock %}

{% block banner %}
    <!--suppress HtmlUnknownTag -->
    <section class="hero libary is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <button class="accordion">
            <h4 class="title is-4">Exemples de dégâts</h4>
            <h6 class="subtitle is-6"><i>Liste non exhaustive...</i></h6>
        </button>
        <div class="accordion-panel">
            <div class="columns is-multiline">
                {% for die, examples in damages %}
                    <div class="column is-one-third content">
                        <h6 class="title is-6 has-text-danger-dark">{{ die }}</h6>
                        <hr/>
                        <ul class="has-text-left has-text-justified">
                            {% for example in examples %}
                                <li>{{ example }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Trains de vie</h4>
            <h6 class="subtitle is-6"><i>Retrouver la description de chaque train de vie.</i></h6>
        </button>
        <div class="accordion-panel">
            {{ include('dm_screen/_lifestyle.html.twig', {lifestyles: lifestyles}) }}
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Transport</h4>
            <h6 class="subtitle is-6">
                <i>Coûts d'achat des différents types de transport ainsi que leur équipement respectif.</i>
            </h6>
        </button>
        <div class="accordion-panel">
            <div class="columns is-multiline">
                <div class="column is-half">
                    <h5 class="title is-5 has-text-centered has-text-danger-dark">
                        <i class="fas fa-anchor"></i> Bâteaux
                    </h5>
                    <table class="table is-striped is-fullwidth is-narrow is-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Location (par jour)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for boat in vehicules['boats'] %}
                            <tr>
                                <td>{{ boat['name'] }}</td>
                                <td>{{ boat['price'] }}</td>
                                <td>{{ boat['rent'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="column is-half">
                    <h5 class="title is-5 has-text-centered has-text-danger-dark">
                        <i class="fas fa-horse"></i> Montures
                    </h5>
                    {{ include(
                        'dm_screen/_mounting.html.twig',
                        {list: vehicules['mounting']['mount'], hasRent:true}
                    ) }}
                </div>

                <div class="column">
                    <h5 class="title is-5 has-text-centered has-text-danger-dark">
                        <i class="fas fa-suitcase"></i> Équipement de monture
                    </h5>
                    {{ include(
                        'dm_screen/_mounting.html.twig',
                        {list: vehicules['mounting']['equipment'], hasRent:false}
                    ) }}
                </div>
            </div>
        </div>

        <hr/>

        <button class="accordion">
            <h4 class="title is-4">Propriétés et coûts d'entretien</h4>
            <h6 class="subtitle is-6">
                <i>
                    Coûts d'achat et temps de construction d'un batiment et l'entretien respectif, ainsi que
                    d'autres bâtiments à louer, par exemple.
                </i>
            </h6>
        </button>
        <div class="accordion-panel">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <h5 class="title is-5 has-text-centered has-text-danger-dark">
                        <i class="fas fa-landmark"></i> Construction
                    </h5>
                    {{ include('dm_screen/_building.html.twig', {list: buildings['building']}) }}
                </div>
                <div class="column">
                    <h5 class="title is-5 has-text-centered has-text-danger-dark">
                        <i class="fas fa-tools"></i> Entretien
                    </h5>
                    {{ include('dm_screen/_maintenance.html.twig', {list: buildings['maintenance']}) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}
