{% extends 'base.html.twig' %}

{% block body %}
    <section class="section is-medium content has-text-white-ter slanted-gradiant">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title has-text-white-ter">
                    <i class="fas fa-hand-paper fa-2x has-text-danger-dark"></i> Oula, l'aventure s'arrête ici !
                </h1>

                <p>
                    Vous n'avez pas les droits d'accès à cette page. Vous pouvez cependant
                    retourner tranquillement à
                    <a class="link-animation has-text-danger-dark" href="{{ path('homepage') }}">
                        la page d'accueil
                    </a> ou signaler un <a class="link-animation has-text-danger-dark" href="{{ path('bug') }}">bug.</a>
                </p>
            </div>

            <div class="column is-two-thirds">
            </div>
        </div>
    </section>
{% endblock %}