{% extends 'base.html.twig' %}

{% block body %}
    <section class="section is-medium content has-text-white-ter parabolic-ellipse">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title has-text-white-ter">
                    <i class="fas fa-exclamation-triangle fa-2x has-text-danger-dark"></i>
                    Bon, une erreur est survenue...
                </h1>

                <p>
                    Allez dont signaler un <a class="link-animation has-text-danger-dark" href="{{ path('bug') }}">
                        bug
                    </a> ce serait sympa ! Vous pouvez cependant
                    retourner tranquillement à
                    <a class="link-animation has-text-danger-dark" href="{{ path('homepage') }}">
                        la page d'accueil.
                    </a>
                </p>
            </div>

            <div class="column is-two-thirds">
            </div>
        </div>
    </section>
{% endblock %}