{% extends 'base.html.twig' %}

{% block body %}
    <section class="section is-medium content has-text-white-ter rainbow-vortex">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title has-text-white-ter">
                    <i class="fas fa-route fa-2x has-text-danger-dark"></i> Oups ! On s'est perdu...
                </h1>

                <p>
                    La page que vous avez demandé n'existe pas, ou peut-être dans une autre plan. Vous pouvez cependant
                    retourner tranquillement à
                    <a class="link-animation has-text-danger-dark" href="{{ path('homepage') }}">
                        la page d'accueil.
                    </a>
                </p>
            </div>

            <div class="column is-two-thirds">
            </div>
        </div>
    </section>
{% endblock %}