{% if pnj['gender'] == 'Homme' %}
    {% set isFemale = false %}
    {% set article1, article2, pronoun, pronoun2 = 'un', 'le', 'il', 'lui' %}
{% else %}
    {% set isFemale = true %}
    {% set article1, article2, pronoun, pronoun2 = 'une', 'la', 'elle', 'elle' %}
{% endif %}

<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title is-1 has-text-danger-dark"><i>{{ pnj['name'] }}</i></p>
                <p class="subtitle is-3">Race : {{ pnj['race']['name'] }} - {{ pnj['gender'] }}</p>
            </div>
        </div>

        <nav class="level">
            {% for carac, value in pnj['race']['traits']['AS'] %}
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><b>({{ mod(value) }})</b></p>
                        <p class="subtitle">{{ carac }} = {{ value }}</p>
                    </div>
                </div>
            {% endfor %}
        </nav>

        <div class="content has-text-centered">
            <p>
                <i>{{ pnj['name'] }}</i> est {{ article1 }} {{ pnj['gender']|lower }} à la peau {{ pnj['skin'] }} et
                aux cheveux {{ pnj['hairs'] }}.
                {{ pronoun|capitalize }} travaille en tant que {{ femalize(pnj['job'], isFemale) }} et fait également
                partie de la {{ pnj['guild'] }}.
                <br/>
                <br/>
                S'il y a bien quelque chose pour laquelle {{ pronoun }} est connu{% if isFemale %}e{% endif %}, c'est
                parce qu'{{ pronoun }} {{ femalize(pnj['talent'], isFemale) }}.
                <br/>
                <br/>
                Il est dit que <i>{{ pnj['name'] }}</i> serait {{ femalize(pnj['sexuality']['type'], isFemale) }} et
                est {{ femalize(pnj['relationship'], isFemale) }}, {{ femalize('attiré(e)', isFemale) }} par
                {{ pnj['sexuality']['attraction'] }} mais  {{ femalize('rebuté(e)', isFemale) }} par
                {{ pnj['sexuality']['rejection'] }}. Ce qui l'intéresse c'est {{ pnj['sexuality']['interest'] }}.
                Il est également dit que <i>{{ pnj['name'] }}</i> serait à la recherche de 
                {{ pnj['sexuality']['search'] }}.
            </p>

            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <div class="message is-danger">
                        <div class="message-header has-background-danger-dark">
                            <p><i class="fas fa-portrait"></i>&nbsp;{{ pnj['background']['name'] }}</p>
                        </div>
                        <div class="message-body has-text-justified">
                            {{ pnj['background']['description']|raw }}
                        </div>
                    </div>
                </div>
            </div>

            <h6><i class="fas fa-clipboard-list"></i>&nbsp;Caractéristiques</h6>
            <p>
                <i>{{ pnj['name'] }}</i> mesure {{ pnj['metrics']['size'] }}, pèse
                {{ pnj['metrics']['weight'] }} kg et a {{ pnj['metrics']['age'] }} ans.
            </p>

            {% if pnj['passives']|length > 0 %}
                De part sa race, {{ pronoun }} maîtrise:
                <ul>
                    {% for passive in pnj['passives'] %}
                        <li>
                            {% if passive is iterable %}
                                {{ passive|join(', ') }}
                            {% else %}
                                {{ passive|trans({'{pronoun}': pronoun})|raw }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="columns">
                <div class="column is-half content">
                    <p>
                        Globalement, on peut dire
                        {% if isFemale %}d'{{ pronoun2 }}{% else %}de {{ pronoun2 }}{% endif %} que:
                    </p>
                    <ul>
                        {% for feature in pnj['personality'] %}
                            <li>{{ pronoun }} {{ femalize(feature, isFemale) }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="column is-half content">
                    <p>
                        et on {{ article2 }} remarque parce que:
                    </p>
                    <ul>
                        {% for feature in pnj['physical'] %}
                            <li>{{ pronoun }} {{ femalize(feature, isFemale) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if pnj['family'] is not empty %}
                <h6><i class="fas fa-project-diagram"></i>&nbsp;Famille</h6>
                <p>
                    {{ pnj['family']['total'] }} membres constituent la famille proche de <i>{{ pnj['name'] }}</i>:
                </p>
                {{ include('transverse/_list_family.html.twig', {family: pnj['family']}) }}
            {% endif %}

            <h6><i class="fas fa-place-of-worship"></i>&nbsp;Religion</h6>
            <p>
                L'alignement global de <i>{{ pnj['name'] }}</i> est {{ pnj['alignment'] }}.
                De plus, {{ pronoun }} adore:
            </p>
            {{ include('transverse/_gods.html.twig', {gods: pnj['gods']}) }}
            <p class="help">
                L'alignement n'a pas toujours rapport avec ses adorations. On peut agir d'une certaine manière et
                louer des divinités opposées en secret ou simplement parce qu'il y a plus que "le bien" et "le mal".
            </p>
        </div>
    </div>
</div>
