{% extends 'base.html.twig' %}

{% block title %} - PNJ{% endblock %}

{% block banner %}
    <section class="hero pnj is-large">
        <div class="hero-body">
        </div>
    </section>
{% endblock %}

{% block body %}
    <section class="section">
        <h4 class="title is-4">Personnage Non-Joueur</h4>
        <h6 class="subtitle is-6"><i>Générer un PNJ avec des caractéristiques au hasard.</i></h6>
        <div class="columns">
            <div class="column is-one-fifth">
                {{ form(form) }}

                {% if random_pnj['image'] is defined %}
                    <hr/>

                    <figure class="image">
                        <img src="{{ random_pnj['image'] }}" alt="{{ random_pnj['name'] }}">
                    </figure>
                {% endif %}
            </div>

            <div class="column">
                {% if random_pnj is not null %}
                    {{ include('generator/pnj/_pnj.html.twig', {pnj: random_pnj}) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
